{{! TODO: Check to see if forms can be sticky --}}
{{! TODO: Check to see if error messages show --}}
<div class="whole-sale">
  <h3 class="feel-free">Please feel free to reach out with any questions you might have. </h3>
  <div class="table-clean">
    <meta charset="utf-8">
    <div  class="text-description">For&nbsp;<meta charset="utf-8">press or partnerships inquiries, please email <strong><a href="mailto:press@lilycbd.com" target="_blank" rel="noopener">press@lilycbd.com</a></strong>
    </div>
    <div class="text-description">For wholesale inquiries, please email <strong><a href="mailto:sales@lilycbd.com" target="_blank" rel="noopener">sales@lilycbd.com</a></strong>&nbsp; &nbsp;</div>
    <p>Lily Health (N.I.) LTD</p>
    <table style="
    width: 536px;
    height: auto;
">
      <tbody>
      <tr>
        <td class="border-table">
          <h6 style="text-align: left;"><strong>United States</strong></h6>
          <h6>Tel: ‪(201) 477-0320‬</h6>
          <h6>35 Firehouse Lane Red Hook, NY 12571</h6>
        </td>
        <td class="border-table">
          <div><meta charset="utf-8"></div>
          <h6><strong>United Kingdom &amp; EU</strong></h6>
          <h6>Tel: +44 20 3885 0727</h6>
          <h6>56 Shoreditch High St, Hackney, London E1 6JJ, UK</h6>
          <div><meta charset="utf-8"></div>
        </td>
      </tr>
      <tr>
        <td class="border-table">
        <td class="border-table">
          <div><meta charset="utf-8"></div>
          <h6>Monday - Friday (24 hours)</h6>
          <div><meta charset="utf-8"></div>
          <h6>Saturday&nbsp;-&nbsp;Sunday (8AM - 8PM)</h6>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <form  action="{{urls.contact_us_submit}}" method="post">
    {{#if forms.contact.error}}
    {{> core/alerts/alert-error message=forms.contact.error dismissable=true}}
    {{/if}}

    <input type="hidden" name="page_id" id="page_id" value="{{forms.contact.page_id}}">

    {{#if forms.contact.name}}
    {{> core/forms/common/text label=(lang 'contact.full_name') name="contact_fullname" id="contact_fullname"  value=customer.name}}
    {{/if}}

    {{> core/forms/common/email label=(lang 'contact.email') name="contact_email" id="contact_email" required="true"  value=customer.email}}

    {{#if forms.contact.company}}
    {{> core/forms/common/text label=(lang 'contact.company') name="contact_companyname" id="contact_companyname" }}
    {{/if}}

    {{#if forms.contact.phone}}
    {{> core/forms/common/text label=(lang 'contact.phone') name="contact_phone" id="contact_phone"  value=customer.phone}}
    {{/if}}

    {{#if forms.contact.order}}
    {{> core/forms/common/text label=(lang 'contact.order') name="contact_orderno" id="contact_orderno" prefill=(lang 'contact.order_placeholder')}}
    {{/if}}

    {{#if forms.contact.rma}}
    {{> core/forms/common/text label=(lang 'contact.rma') name="contact_rma" id="contact_rma" prefill=(lang 'contact.rma_placeholder')}}
    {{/if}}
    <!--{{{forms.contact.recaptcha.markup}}}-->
    {{> core/forms/common/multiline label=(lang 'contact.question') name="contact_question" id="contact_question" required="true" rows=9}}

    <div class="form-field full-width-field">
      <input class="button button-primary" type="submit" value="{{lang 'contact.submit'}}">
    </div>
  </form>
</div>