<section class="mailing-list {{location}}">
  <!--<h3 class="section-title">{{lang 'footer.mailing_list'}}</h3>-->

  <!--<p>I would like to receive updates about Lily.</p>-->
  <div class="klaviyo-form-LQ2HQU"></div>
  <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=PeJ9Ad"></script>

  {{#if settings.show_newsletter_summary}}
  <p class="newsletter-summary">{{settings.newsletter_summary}}</p>
  {{/if}}
</section>

<div class="fw-blocks">
  <a class="item" title="Facebook" aria-hidden="true" target="_blank" href="https://www.facebook.com/lilycbd" rel="noopener">
    <!--<i class="fa fa-facebook-square"></i>-->
    <svg id="fw--icon--facebook" viewBox="0 0 32 32">
      <title>facebook icon</title>
      <path d="M27.079 0H5.318C2.491 0 0 2.054 0 4.882v21.76C0 29.47 2.491 32 5.318 32h13.474c-.025-4.194.006-8.865-.015-12.923-.859-.009-1.719-.053-2.578-.066.003-1.434.001-2.898.002-4.333.858-.011 1.718-.013 2.576-.021.026-1.395-.025-2.798.027-4.192.086-1.103.507-2.218 1.332-2.98.998-.951 2.418-1.274 3.758-1.313 1.416-.013 2.832-.006 4.25-.005a609.01 609.01 0 0 1-.001 4.483c-.916-.001-1.832.002-2.747-.001-.58-.037-1.177.403-1.283.979-.014 1-.004 2-.004 3 1.343.005 2.686-.002 4.028.003a56.42 56.42 0 0 1-.488 4.321c-1.187.011-2.373.118-3.559.125-.01 4.057.003 8.729-.007 12.924h2.995C29.906 32 32 29.47 32 26.642V4.882C32 2.054 29.906 0 27.079 0z"></path>
    </svg>
  </a>

  <a class="item" title="Instagram" aria-hidden="true" target="_blank" href="https://www.instagram.com/lilycbd/" rel="noopener">
    <!--<i class="fa fa-instagram"></i>-->
    <svg id="fw--icon--instagram" viewBox="0 0 32 32">
      <title>instagram icon</title>
      <path d="M25.675 16A9.674 9.674 0 0 1 16 25.675 9.674 9.674 0 0 1 6.506 14.14H0V27c0 2.763 2.237 5 5 5h22a5 5 0 0 0 5-5V14.14h-6.506c.117.602.181 1.224.181 1.86zM27 0H5a5 5 0 0 0-5 5v5.419h8.1c1.752-2.476 4.637-4.094 7.9-4.094s6.147 1.618 7.899 4.094H32V5a5 5 0 0 0-5-5zm2.444 6.177a.895.895 0 0 1-.893.893h-2.679a.896.896 0 0 1-.894-.893v-2.68c0-.49.402-.893.894-.893h2.679c.491 0 .893.402.893.893v2.68zM21.953 16a5.953 5.953 0 1 0-11.906 0 5.953 5.953 0 1 0 11.906 0z"></path>
    </svg>
  </a>

</div>
