<div class="nav-menu-mobile" data-cart-mobile>
    {{#if cart.items}}
    <div class="navPages-item show-mini-cart">
        <a class="navPages-action" href="javascript:void(0)">
            <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">
                <span class="item-qty-cart-mobile">
                    {{cart.quantity}}
                </span>
            </span>
        </a>
    </div>
    {{/if}}
</div>