{{#if children}}
<a class="navPages-action has-subMenu" href="{{url}}">
    {{name}}
    <i class="icon navPages-action-moreIcon" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="5" viewBox="0 0 8 5"><defs><path id="h1fza" d="M300 131.93l.33-.34 3.62-3.64-.67-.92-3.28 3.3-3.28-3.3-.67.92 3.61 3.64z"></path></defs><g><g transform="translate(-296 -127)"><use fill="#1c1f2a" xlink:href="#h1fza"></use></g></g></svg>
    </i>
</a>
<div class="navPage-subMenu" id="navPages-{{id}}" tabindex="-1">
    <ul class="navPage-subMenu-list">
        {{#each children }}
        <li class="navPage-subMenu-item">
            {{#if children}}
            <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}">
                <span>{{name}}</span>
            </a>
            <ul class="navPage-childList" id="navPages-{{id}}">
                {{#each children}}
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{url}}"><span>{{name}}</span></a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <a class="navPage-subMenu-action navPages-action" href="{{url}}"><span>{{name}}</span></a>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>
{{else}}
<a class="navPages-action" href="{{url}}">{{name}}</a>
{{/if}}
