<nav class="navPages" data-show-menu>
    <ul class="navPages-list">
        <form class="search-overlay-form" id="modal-search" action="/search.php">
            <div class="search--icon">
                <svg class="fw--icon fw--icon--search">
                    <svg id="fw--icon--search" viewBox="0 0 32 32">
                        <title>search icon</title>
                        <path d="M12.431 25.664C5.576 25.664 0 20.07 0 13.194S5.576.725 12.431.725c6.854 0 12.43 5.594 12.43 12.469s-5.577 12.47-12.43 12.47zm0-21.939C7.23 3.725 3 7.973 3 13.194s4.23 9.469 9.431 9.469c5.2 0 9.43-4.248 9.43-9.469s-4.231-9.469-9.43-9.469zM30.5 31.275c-.385 0-.77-.147-1.062-.441l-9.516-9.55a1.5 1.5 0 1 1 2.125-2.117l9.516 9.55a1.5 1.5 0 0 1-1.063 2.558z"></path>
                    </svg>
                </svg>
            </div>
            <div class="form-field-inline">
                <input class="search-overlay-input" name="search_query" value="" placeholder="Search store">
                <a class="button button-invisible-thin search-overlay-close" href="#modal-search">
                    Clear
                </a>
            </div>
            <div class="search--feedback">

                <div class="search--no-results" style="display: none;">No results were found</div>
            </div>
            <input class="button button-invisible search-overlay-submit" type="submit" value="Search" style="display: none;">
        </form>
        {{#each (limit categories 1)}}

        <li class="navPages-item">
            {{> components/common/navigation-list-mobile}}
        </li>

        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
        {{#each (limit pages 4) }}

        <li class="navPages-item navPages-item-page">
            <a class="navPages-action" href="{{url}}">{{name}}</a>
        </li>
        {{/each}}
        {{/unless}}

    </ul>

</nav>
<div class="item-sub-menu-mobile">
    <ul class="navPages-list">
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action-sub-menu-mobile" href="/account.php">
                Account
            </a>
        </li>
        <li class="navPages-item navPages-item-page mini-cart show-mini-cart">
            <a class="navPages-action-sub-menu-mobile" href="/cart.php">
                Cart
                    <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">
                        {{#if cart.items}}
                            ({{cart.quantity}})
                        {{/if}}
                    </span>
            </a>
        </li>
    </ul>
</div>