{{!
  @param page_type - value to test against for conditional displays
  @param list - list of breadcrumbs
  @param description - should only be passed through on categories
}}

<div class="container page-header">
  <header class="layout-module">
    <h1 class="page-title {{page.title}}">
      {{#compare page_type 'search' operator='==='}}
        {{#unless page_title}}
            <!--{{lang 'search.label'}}-->
      <form class="search-overlay-form" id="modal-search" action="/search.php">
        <div class="search--icon">
          <svg class="fw--icon fw--icon--search">
            <svg id="fw--icon--search" viewBox="0 0 32 32">
              <title>search icon</title>
              <path d="M12.431 25.664C5.576 25.664 0 20.07 0 13.194S5.576.725 12.431.725c6.854 0 12.43 5.594 12.43 12.469s-5.577 12.47-12.43 12.47zm0-21.939C7.23 3.725 3 7.973 3 13.194s4.23 9.469 9.431 9.469c5.2 0 9.43-4.248 9.43-9.469s-4.231-9.469-9.43-9.469zM30.5 31.275c-.385 0-.77-.147-1.062-.441l-9.516-9.55a1.5 1.5 0 1 1 2.125-2.117l9.516 9.55a1.5 1.5 0 0 1-1.063 2.558z"></path>
            </svg>
          </svg>
        </div>
        <div class="form-field-inline">
          <input class="search-overlay-input" name="search_query" value="{{page_title}}" placeholder="Search store">
          <a class="button button-invisible-thin search-overlay-close" href="#modal-search">
            Clear
          </a>
        </div>
        <div class="search--feedback">

          <div class="search--no-results" style="display: none;">No results were found</div>
        </div>
        <input class="button button-invisible search-overlay-submit" type="submit" value="Search" style="display: none;">
      </form>
        {{else}}
          <!--{{lang 'search.results.label' query=page_title}}-->
      <form class="search-overlay-form" id="modal-search" action="/search.php">
        <div class="search--icon">
          <svg class="fw--icon fw--icon--search">
            <svg id="fw--icon--search" viewBox="0 0 32 32">
              <title>search icon</title>
              <path d="M12.431 25.664C5.576 25.664 0 20.07 0 13.194S5.576.725 12.431.725c6.854 0 12.43 5.594 12.43 12.469s-5.577 12.47-12.43 12.47zm0-21.939C7.23 3.725 3 7.973 3 13.194s4.23 9.469 9.431 9.469c5.2 0 9.43-4.248 9.43-9.469s-4.231-9.469-9.43-9.469zM30.5 31.275c-.385 0-.77-.147-1.062-.441l-9.516-9.55a1.5 1.5 0 1 1 2.125-2.117l9.516 9.55a1.5 1.5 0 0 1-1.063 2.558z"></path>
            </svg>
          </svg>
        </div>
        <div class="form-field-inline">
          <input class="search-overlay-input" name="search_query" value="{{page_title}}" placeholder="Search store">
          <a class="button button-invisible-thin search-overlay-close" href="#modal-search">
            Clear
          </a>
        </div>
        <div class="search--feedback">
          <div class="search--no-results" style="display: none;">No results were found</div>
        </div>
        <input class="button button-invisible search-overlay-submit" type="submit" value="Search"
               style="display: none;">
      </form>
        {{/unless}}
      {{else}}
        {{limit page_title 200}}{{#if page_title.length '>' 200}}&hellip;{{/if}}
      {{/compare}}
    </h1>
    {{#compare page_type 'product' operator='==='}}
      {{> components/common/breadcrumbs list=breadcrumbs hide_last='true'}}
    {{else}}
      {{> components/common/breadcrumbs list=breadcrumbs}}
    {{/compare}}
  </header>

  {{#if description}}
  <div class="layout-module collection-description rte">
    {{{category.description}}}
  </div>
  {{/if}}
</div>
