<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <div class="form-prefixPostfix wrap">
                <input class="form-input " id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="by entering your email">
                <button class="button button--primary form-prefixPostfix-button--postfix" type="submit" value=""><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 386.258 386.258" style="enable-background:new 0 0 386.258 386.258;width: 16px;height: 20px;" xml:space="preserve">
<polygon points="96.879,0 96.879,386.258 289.379,193.129 " style="&#10;"/></svg></button>
            </div>
            {{#if settings.show_newsletter_summary }}
            <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
