<div
        class="
    form-field
    form-field-options
    form-field-rectangle
    {{#if required}}
      form-required
    {{/if}}
  "
        data-product-attribute="set-rectangle"
>
  <div class="form-field-title" style="display:none">
    {{display_name}}
    {{#if required}}
    <span class="required-text">{{lang 'common.required'}}</span>
    {{/if}}
  </div>
  <div class="form-field-control">
    {{#unless required}}  <div class="checked">
    <label class="form-label rectangle">
      <input
              class="form-input form-rectangle"
              name="attribute[{{../id}}]"
              type="radio"
              value="0"
              {{#if selected}}checked{{/if}}
      aria-required="{{required}}"
      >
      <span class="rectangle-text form-label-text">

        </span>
      <p>Purchase this time only</p>
    </label>
  </div>
    {{/unless}}
    {{#each values}}
    <div class="checked">
      <label class="form-label rectangle" data-product-attribute-value="{{id}}">
        <input
                class="form-input form-rectangle"
                name="attribute[{{../id}}]"
                id="attribute-{{id}}"
                type="radio"
                value="{{id}}"
                {{#if selected}}
                checked
                data-default
                {{/if}}
        {{#if ../required}}required{{/if}}
        aria-required="{{required}}"
        >
        <span class="rectangle-text form-label-text"></span>
        <p>Get Monthly and Save 30%</p>
      </label>
    </div>
    {{/each}}

  </div>
  <p class="skip-cancel">Skip or cancel anytime.</p>
</div>
