{{#partial "page"}}
<div class="whole-page">
    {{> components/common/page-header list=breadcrumbs page_title=page.title}}

    <article class="page-container">

        <section class="layout-module">

            <div class="page-content-sidebar">
                {{> components/page/page-sidebar}}
            </div>

            <div class="page-content-text rte">
                {{{page.content}}}

                <div class="contact-page-form">
                    <div class="whole-sale">
                        <h3 class="feel-free">We look forward to hearing from you.</h3>
                        <form  action="/pages.php?action=sendContactForm" method="post" >

                            <input type="hidden" name="page_id" id="page_id" value="4">


                            <div class="form-field form-field-common form-field-text  form-required" id="contact_fullname">
                                <label class="form-label">
    <span class="form-field-title">
      Your Name:
        <!--<span class="required-text">*</span>-->
    </span>
                                    <span class="form-field-control">
      <input class="form-input" id="input-contact_fullname" name="contact_fullname" type="text" placeholder=""  aria-required="true">
    </span>
                                </label>
                            </div>


                            <div class="form-field form-field-common form-field-email  form-required" id="contact_email">
                                <label class="form-label">
    <span class="form-field-title">
      Email:
        <!--<span class="required-text">*</span>-->
    </span>
                                    <span class="form-field-control">
      <input class="form-input" id="input-contact_email" name="contact_email" type="email" placeholder="" required="" aria-required="true">
    </span>
                                </label>
                            </div>



                            <div class="form-field form-field-common form-field-text " id="contact_phone">
                                <label class="form-label">
    <span class="form-field-title">
      Phone Number:

    </span>
                                    <span class="form-field-control">
      <input class="form-input" id="input-contact_phone" name="contact_phone" type="text" placeholder="" aria-required="">
    </span>
                                </label>
                            </div>


                            <!---->
                            <div class="form-field form-field-common form-field-multiline form-required" id="contact_question">
                                <label class="form-label">
    <span class="form-field-title">
      Message:
        <!--<span class="required-text">*</span>-->
    </span>
                                    <span class="form-field-control">
      <textarea class="form-input" id="textarea-contact_question" name="contact_question" placeholder="" rows="9" required="true" aria-required="true"></textarea>
    </span>
                                </label>
                            </div>

                            <div class="form-field full-width-field">
                                <input class="button button-primary" type="submit" value="Send">
                            </div>
                        </form>
                    </div>        </div>
            </div>
        </section>

    </article>
</div>
{{/partial}}

{{> layout/base}}
