
{{#partial "page"}}
  {{{stylesheet '/assets/css/cart.css'}}}

<div class="cart-container layout--main-content">
  <div class="wrapper">
    <div class="panel">
      {{#if cart.status_messages}}
      {{#each cart.status_messages}}
      {{#if type '===' 0}}
      {{> core/alerts/alert-error message=message}}
      {{else}}
      {{> core/alerts/alert-info message=message}}
      {{/if}}
      {{/each}}
      {{/if}}

      <section class="" data-cart-content>
        <div class="variant-id width--12 last-variant">
        {{> components/cart/cart-content}}
        </div>
      </section>

    </div>
  </div>
</div>

{{/partial}}

{{> layout/base}}
