{{#partial "page"}}

  {{> components/common/page-header list=breadcrumbs page_title=page.title}}

  <article class="page-container">

    <section class="layout-module">

      <div class="page-content-sidebar">
        {{> components/page/page-sidebar}}
      </div>

      <div class="page-content-text rte">
        {{{page.content}}}

        <div class="contact-page-form">
          {{#if forms.contact.success}}
            <p class="contact-page-success-form">Thanks for contacting us! We'll get back to you shortly.</p>
          {{else}}
            {{> components/page/contact-us-form}}
          {{/if}}
        </div>
      </div>
    </section>

  </article>

{{/partial}}

{{> layout/base}}
