
{{#partial "page"}}

<!--{{> components/common/page-header list=breadcrumbs page_title=page.title}}-->
<article class="page-container">

  <section class="layout-module">

    <!--<div class="page-content-sidebar">-->
      <!--{{> components/page/page-sidebar}}-->
    <!--</div>-->

    <div class="page-content-text* page-cms-content rte {{#if page.feed}}has-page-feed{{/if}}">
      {{#replace '%%Syndicate%%' page.content}}
        {{> components/page/rss}}
      {{else}}
        {{{page.content}}}
      {{/replace}}

      {{#if page.feed}}
        <ul>
          {{#each page.feed}}
            <li>
              <h5><a href="{{url}}" target="_blank">{{{title}}}</a></h5>
              {{#if content}}<p>{{{content}}}</p>{{/if}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

  </section>

</article>

{{/partial}}

{{> layout/base}}

<script>
  var title_page = "{{page.title}}";
  var class_page = title_page.replace(/ |&amp;/g, "-").toLowerCase();
  jQuery('.page-container').addClass("page-"+class_page);
</script>