---
product:
  reviews:
    limit: 8
  videos:
    limit: 12
---

{{#partial "page"}}
{{inject 'showReviews' (lang 'product.reviews.show_reviews')}}
{{inject 'hideReviews' (lang 'product.reviews.hide_reviews')}}

{{> components/common/page-header
  list=breadcrumbs
  page_title=product.title
}}

<div
  class="container product-container product-area "
  data-product-title="{{product.title}}"
  data-product-id={{product.id}}
  {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
      {{#each product.category}}
        {{#if @last}}
          {{this}}
        {{else}}
          {{this}},
        {{/if}}
      {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
      {{#if product.price.with_tax}}
        {{product.price.with_tax.value}}
          {{else}}
        {{product.price.without_tax.value}}
      {{/if}}"
    data-product-variant="single-product-option"
  {{/if}}
>
  <div class="layout-module">
    {{#each product.shipping_messages}}
      {{> core/alerts/alert-info message=message}}
    {{/each}}


    <div class="single-product-right">
      <div class="content-right">
        {{> components/products/single-image
        this
        class='single-product-images product-images'
        }}
      </div>
    </div>
    <div class="single-product-left">
      <div class="content-left">
        <h2 class="product-name">{{product.title}}</h2>
        {{> components/products/single-details
        this
        }}
      </div>
    </div>
  </div>

</div>


{{#if product.description}}
<div class="product-description-container rte">
  {{{product.description}}}
</div>
{{/if}}


{{#if product.videos.list.length}}
  <div class="container products-videos-container">
    <section class="layout-module">
      <h2 class="product-reviews-title section-title">
        {{lang 'product.videos_section' total=product.videos.list.length}}
      </h2>

      <div
        class="
          video-grid-container
          grid-masonry
          {{#if product.videos.list.length '>' 2}}
            layout-grid-of-3
          {{/if}}
        "
      >
        <div class="layout-grid-sizer"></div>
        <div class="layout-grid-gutter"></div>

        {{#each product.videos.list}}
          <div class="layout-grid-item product-video-container">
            <iframe
              src="https://www.youtube.com/embed/{{id}}?rel=0&showinfo=0&autohide=1"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        {{/each}}
      </div>
    </section>
  </div>
{{/if}}




{{#if settings.show_product_reviews}}
<div class="container products-reviews-container" id="write_review">
  {{> components/products/reviews
  reviews=product.reviews
  product_title=product.title
  }}
</div>
{{/if}}
<div class="yotpo yotpo-main-widget"
     data-product-id="{{ product.id }}"
     data-price="{{ product.price.without_tax.value }}"
     data-currency="{{ currency_selector.active_currency_code }}"
     data-name="{{ product.title }}"
     data-url="{{ product.url }}"
     data-image-url="{{getImage product.main_image}}"
     data-description="{{ product.description }}">
</div>
{{> core/structured-data/product}}
{{> core/structured-data/product-reviews}}

{{/partial}}

{{> layout/base}}
