.page-about-lily .page-cms-content {
  max-width: 100%;
  margin: auto;
  padding:0 145px;
}

.main-content.Delivery{
  margin-top: 120px;
  padding: 0 50px;

  .page-delivery---returns{
    padding: 0px 30px;

    .layout-module{
      max-width: 100%;
      padding: 0px 100px;
    }
  }

  @media (max-width: 992px) {
    margin-top: 110px;
  }

  @media (max-width: 767px) {
    padding: 0px 30px;
    .page-delivery---returns{
      padding: 0px;
      .layout-module{
        padding: 0px;
      }
    }
  }
}

.main-content.Wholesale{
  margin-top: 130px !important;

  @media (max-width: 768px) {
    margin-top: 60px !important;
  }
}

.page-cms-content {
  max-width: 100%;
  margin: auto;

  .spacer {
    height: 0;
    padding-top: 10px;
  }

  .page-title {
    color: #cd792b;
    font-family: 'Alegreya', Helvetica, Arial, sans-serif;
    font-size: 28px;
    width: 100%;
    text-align: center;
    text-transform: none;
    padding-bottom: 30px;
    padding-right: 0px;
  }

  h1, h2, h3, h4, h5 {
    text-transform: none;
  }
  p, li, ul {
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
  }
  .rte-content {
    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      margin-top: 0;
      color: #444444;
    }

    p {
      margin-top: 0;
      line-height: 1.5;
    }
  }

  h1 {
    font-size: 36px;
    @media (max-width: 1023px) and (min-width: 768px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }
  .rte-content .column {
    float: left;
    padding: 0 2rem 0 0;
    width: 50%;
    text-align: left;
  }

  @media (max-width: 767px) {
    .page-title.font--heading {
      font-size: 22px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    .about-lily p{
      font-size: 13px;
    }
    .rte-content .column {
      padding-right: 30px;
      text-align: left;
    }
  }
}


.page-terms-of-service {
  padding-top: 110px;
  @media (max-width: 768px) {
    padding-top: 150px;
  }
  @media (max-width: 767px) {
    padding-top: 54px;
  }
  .page-cms-content {
    max-width: 50ch;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .shopify-policy__body{
    margin-top: -1em;
  }
  .shopify-policy__title {
    text-align: center;

    h1 {
      text-transform: none;
      margin-bottom: 0;
      font-size: 36px;
      font-family: 'Perpetua MT' !important;
      @media (max-width: 1023px) and (min-width: 768px) {
        font-size: 32px;
      }
      @media (max-width: 767px) {
        font-size: 26px;
        margin-top: 68px;
      }
    }
  }
  p, li, ul {
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
  }
  @media (max-width: 767px) {
    .layout-module{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.main-content.Privacy{
  margin-top: 130px;

  @media (max-width: 992px) {
    margin-top: 117px;
  }

  @media (max-width: 767px) {
    margin-top: 107px;
  }
}

.page-privacy-policy{
  padding: 0px 65px;
  *{
    color: #444444;
  }
  a{
    color: #cd792b;
    font-weight: 100 !important;
  }
  h1, h2, h3, h4{
    text-transform: none;
  }
  h1.page-title.font--heading{
    text-align: center !important;
    padding-bottom: 45px;
  }
  .layout-module{
    max-width: 100%;
    padding: 0px;
  }
  .page-cms-content{
    max-width: 100% !important;
  }

  @media (max-width: 992px) {
    h1.page-title.font--heading{
      padding-bottom: 8px;
    }
  }

  @media (max-width: 767px) {
    padding: 0px 15px;

    .page-cms-content{
      padding: 0px;
    }
    .rte-content{
      h2{
        font-size: 22px;
      }
      p, li, ul {
        font-family: 'GT Walsheim Pro';
        font-size: 15px;
      }
    }
  }
  h1 {
    font-size: 36px;
    font-family: 'Perpetua MT' !important;
    @media (max-width: 1023px) and (min-width: 768px) {
      font-size: 32px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }
}


.main-content.FAQ{
  margin-top: 67px !important;
}

.page-faq{
  .layout-module{
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  br{
    font-size: 10px;
  }
  .page-cms-content{
    max-width: 100%;
    padding: 15px;
  }
  @media (min-width: 768px) {
    .layout-module{
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 25px;
  }
}
.page-delivery---returns{
  .page-title{
    text-align: left;
    padding-bottom: 10px;

    @media (max-width: 992px) {
      padding-bottom: 0px;
    }
  }
}
/// about-lily
.about-lily {
  max-width: 100%;
  padding: 0 15px;
  margin: auto;
  h1, h2, h3, h4, h5, h6, a {
    font-family: 'Perpetua MT' !important;
    letter-spacing: 1px;
  }
  p, li, ul {
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
    @media (max-width:767px) {
      font-size: 13px;
    }
  }
  .page-cms-content{
    .about-lily{
      padding: 0px;
      letter-spacing: 1px;

    }
  }
  .page-title {
    font-size: 28px;
    text-transform: none;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      margin-bottom: 0px;
    }
  }

  .page-title, a {
    color: #cd792b;
  }

  a {
    font-weight: 100 !important;
  }
  .rte-content {
    width: 100%;
    clear: both;
    font-size: 15px;
  }

  .column {
    width: 50%;
    float: left;
    padding: 0 2rem 0 0;
    text-align: left;
  }

  @media (max-width: 767px) {
    .page-title {
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
    }
    .rte-content {
      font-size: 13px;
    }
    .column {
      width: 100%!important;
      padding-right: 0;
    }
  }
}


//page about cbd
.page-about-cbd {
  h1, h2, h3, h4, h5, h6, a {
    font-family: 'Perpetua MT' !important;
  }

  p, li, ul {
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
  }

  h2 {
    font-size: 22px;
    line-height: 1.13636364;
  }

  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 28px;
      line-height: 1.25;
    }
  }

  .page-cms-content{
max-width: 100%;
  }
  .layout-module {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .image--container{
    width: 100%;
    display: flex;
  }

  .image-with-text {
    position: relative;
    overflow: hidden;
    display: flex;
img{
  width: 100%;
}
    .content-text {
      position: absolute;
      top: 50%;
      display: inline-block;
      transform: translateY(-50%);
      padding: 30px;
      max-width: 40%;

      h4, em {
        width: 100%;
        margin: 0;
        color: #ffffff;
        font-size: 28px;
        line-height: 1.25;
        text-transform: none;
        font-family: 'Perpetua MT' !important;
      }

      h2 {
        text-transform: none;
        color: #cd792b;
        margin-bottom: 15px;
      }

      p.description {
        color: #444444;
      }
    }
  }

  .content-text-left .content-text {
    padding-right: 4rem;
    left: 8%;
  }

  .content-text-right .content-text {
    right: 8%;

    p {
      color: #444444;
    }
  }

  @media (max-width: 850px) {
    .image-with-text .content-text {
      max-width: 55%;
    }
    .content-text-left .content-text {
      padding-right: 30px;
      left: 2%;
    }
    .content-text-right {
      padding: 20px 0;
      background: #ffffff;

      .content-text {
        right: 2%;
        padding: 15px;

        h2 {
          margin-bottom: 10px;
        }

        p {
          margin-top: 0;
        }
      }
    }
  }

  .text-column-two {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;

    .content-text {
      padding: 70px 50px;
      display: inline-block;
    }

    .column {
      float: left;
      padding: 0 2rem 0 0;
      width: 50%;
      text-align: left;
      margin: 0;
      font-size: 15px;
      color: #444444;
    }
  }

  .text-column-one {
    background-color: #773a45;
    color: #f7f7f7;
    text-align: center;
    padding: 127px 0;

    .content-text {
      max-width: 70%;
      margin: auto;

      p {
        font-size: 24px;
        @media(min-width: 1024px){
          font-size: 28px;
        }
        @media(max-width: 767px){
          font-size: 18px;
        }
        line-height: 1.25;
        font-family: 'Perpetua MT' !important;
        font-weight: 700;
      }
    }
  }

  .text-column-three {
    padding: 70px 50px;
    text-align: center;
    @media(max-width: 767px){
      padding-top: 30px;
    }
    h2 {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      padding: 0 15px;
      text-transform: none;
      color: #444444;
    }

    .data-columns {
      max-width: 1200px;
      margin: 0 auto;
      padding: 15px;
      padding-bottom: 5px;
      display: inline-block;
    }

    .data-column {
      width: 33.33333%;
      width: calc(100% / 3);
      float: left;
      text-align: center;
      padding: 15px;
      max-width: 900px;
      margin: 0 auto;
    }

    h3 {
      padding-bottom: 15px;
      font-size: 18px;
      font-weight: 700;
      text-transform: none;
      margin-bottom: 0;
      color: #444444;
    }

    p {
      font-family: 'GT Walsheim Pro';
      font-size: 15px;
      margin: 0;
    }
  }
  .change-style{
    width: 100%;
  }
  @media (max-width: 767px) {
    .text-column-one {
      padding: 70px 0;
    }
    .text-column-two {
      padding: 0;

      .column {
        padding: 0px 32px 0px 0px;
      }
    }
    .text-column-three {
      padding-left: 0;
      padding-right: 0;
      padding-top: 30px;
      padding-bottom: 20px;
    }
    .image-with-text {
      flex-wrap: wrap;
    }
    .img-tx-two, .img-tx-three {
      .content-text {
        position: static;
        transform: none;
        max-width: 100%;
      }
    }
    .img-tx-two {

      .content-text {
        padding: 20px 7%;

        p.description {
          text-align: left;
        }
      }
      .image--container{
        position: relative;
        padding-bottom: 100%;
        width: 100vw;
        display: block;
        margin-left: -50%;
        transform: translateX(50%);
        overflow: hidden;
        img{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transform: scale(3.5) translateY(5vw) translateX(-26vw) !important;
          padding-top: 20px;
        }
      }
    }
    .img-tx-three {
      .content-text {
        padding-left: 7%;
        padding-right: 7%;
      }
    }
    .text-column-three .data-column {
      width: 100%;
      max-width: 500px;
      float: none;
      padding: 0px 2.5px;
    }
  }
  @media (max-width: 767px) {
    .img-tx-one {
      img{
        padding: 30px 15px 5px;
      }
      .content-text {
        position: static;
        transform: none;
        max-width: 100%;
        padding-top: 15px;
        margin: auto;
        text-align: center;
        h4, em {
          color: #0e142c;
          font-size: 22px;
        }
        em{
          font-weight: 700;
        }
      }
    }
    .text-column-two {
      .content-text {
        padding: 20px;

        .column:first-child {
          margin-bottom: 15px;
        }
      }

      .column {
        //width: 100%;
      }
    }
    .text-column-one {
      padding: 44.5px 35px;

      .content-text {
        padding: 0 15px;
        max-width: 100%;
      }
    }
    .img-tx-two .content-text {
      .description{
        text-align: center;
      }
    }
    .image-with-text .content-text h2{
      text-align: center;
    }
    .img-tx-three{
      background: none;
      padding-top: 0;
      img{
        transform: scale(3.5) translateY(-8vw) translateX(24vw) !important;
        position: absolute;
        left: 0; top: 0; right: 0; bottom: 0; margin: auto;
      }
      .content-text{
        padding-top: 20px;
      }
      .change-style{
        position: relative;
        padding-bottom: 85%;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}
@media (max-width: 425px){
  .page-about-cbd .image-with-text img{
    padding-top: 20px;

  }
}
.page-about-lily {
  padding-top: 0;
  margin-top: 120px;
  .layout-module {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 849px){
  .page-about-lily {
    margin-top: 90px;
    .page-cms-content {
      padding: 0 145px!important;
    }
  }
}
@media (max-width: 850px) {
  .page-about-lily {
    margin-top: 110px;
    .page-cms-content {
      padding: 0;
    }
  }
}