.layout--main-content{
  margin-top: 60px;
  max-width: 100%;
  padding-top: 150px;
  position: relative;
  z-index: 1;
  padding: 0 50px;
  .hide-for-all {
    display: none !important;
  }
  .panel{
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
  .page-wrapper {
    max-width: 100%;
    margin: 50px auto;
  }
  .spacing--5 {
    padding: 50px;
  }
  .font--heading{
    font-size: 28px;
    color: #cd792b;
    font-family: 'Perpetua MT';
    text-transform: capitalize;
  }
  .text-align--center {
    text-align: center;
  }
  .form-field-title{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 0 5px;
    display: block;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #444444;
  }
  p.account-forgot-password-body{
    margin-bottom: 30px;
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
    a{
      font-weight: 400 !important;
    }
  }
  a{
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    color: #444444;
    text-decoration: none;
  }
  .spacing--3y {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .form-input{
    font-family: 'Merriweather', Georgia, serif !important;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    line-height: normal;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    color: #444444;
    font-size: 14px;
    padding: 9px 15px;
    margin: 0 0 15px;
    &:focus{
      outline: -webkit-focus-ring-color auto 1px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 1px;
    }
  }
  .button2 {
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-transform: uppercase;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 10px;
    background: rgba(0,0,0,0);
    color: #0e142c;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 1px;
    display: inline-block;
    zoom: 1;
    height: 38px;
    line-height: 36px;
    letter-spacing: 1px;
    padding: 0 15px;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    cursor: pointer;
  }
  .account--sign-in {
    margin-bottom: 0;
  }
  .account--register{
    padding-left: 15px;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400 !important;
    vertical-align: unset;
    color: #444444;
  }
  .account-create-form .form-field{
    padding: 0;
  }
  .account-page-forgot .account-body{
    max-width: 100%;
  }
  .account--bottom-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .account-change-create-form{
    display: flex;
    flex-direction: column;
  }
  .account-forgot-custom-form {
    text-align: left;
    .account--cancel{
      text-transform: capitalize;
      font-size: 12px;
      font-weight: 400 !important;
    }
  }
  .note-forgot{
    font-family: 'GT Walsheim Pro';
    margin: 0 0 15px;
  }
}
@media (min-width: 1024px){
  h1{
    line-height: 1.25;
    margin: 0;
    padding: 0;
    font-weight: 700;
  }
}
@media (max-width: 767px){
  .layout--main-content {
    padding:15px;
    margin-top: 20px;
    .page-wrapper {
      padding: 15px;
    }
    .font--heading {
      font-size: 22px;
      margin-bottom: 0;
    }
  }
  .account-body{
    padding: 0;
  }
}