.template-cart {
  &.no-carousel{
    background-color: #fef9f5;
  }
  .wrapper, .panel{
    overflow-x: hidden;
  }
  .panel{
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
  .main-header .header-navigation-site .navPages-list .navPages-item .navPages-action{
    color: #0e142c;
  }
  .layout--main-content {
    position: relative;
    z-index: 1;
    padding: 0 50px;
    padding-top: 30px;
    margin-top: 216px;
    .input--number {
      width: auto;
      border: 0;
      padding: 0;
      input{
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        border-radius: 2px;
        border: 1px solid #eaeaea;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        font-family: 'Merriweather', Georgia, serif !important;
        padding: 9px 15px;
      }
    }
    .remove .far{
      font-size: 20px;
    }
  }
  .input--number {
    width: 90px;
    text-align: left;
    position: relative;
    border: 1px solid #eaeaea;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 20px;
    background: #fff
  }

  .input--number .minus,.input--number .plus {
    position: absolute;
    height: 100%;
    padding: 0 6px;
    cursor: pointer;
    width: 20px;
    top: 0;
    background: #fff
  }

  .input--number .minus span,.input--number .plus span {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    color: #eaeaea;
    font-size: 8px
  }

  .input--number .minus {
    left: 0
  }

  .input--number .plus {
    right: 0
  }

  .input--number input {
    position: relative;
    z-index: 1;
    border-top: 0;
    border-bottom: 0;
    width: 48px;
    margin: 0;
    border-radius: 0
  }

  .input--number input:focus {
    border-top: 0;
    border-bottom: 0
  }

  .input--number.updating input {
    color: #eaeaea
  }
  .button.font--accent{
    text-transform: uppercase;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: rgba(0,0,0,0);
    color: #0e142c;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 1px;
    display: inline-block;
    zoom: 1;
    height: 38px;
    line-height: 36px;
    letter-spacing: 1px;
    padding: 0 15px;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    cursor: pointer;
    font-size: 10px;
    font-family: 'Lato', Helvetica, Arial, sans-serif !important;
    &.checkout-button{
      font-weight: 400 !important;
      background: black;
      color: #ffff;
      margin-bottom: 0;
      a{
        font-family: 'Lato', Helvetica, Arial, sans-serif !important;
        color: #ffff;
        text-transform: uppercase;
      }
    }
  }
  textarea {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    color: #444444;
    font-size: 14px
  }
  .money{
    font-size: 14px;
  }
  .text--bold{
    font-weight: bold;
  }
  .cart-item-product-title{
    font-family: 'Perpetua MT' !important;
    font-weight: 300!important;
    text-transform: unset;
    font-size: 18px;
    line-height: 1.1px;
    color: #444444;
  }
  .subtotal-title{
    font-size: 14px;
    text-transform: uppercase;
  }
  .ship-cal{
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
  }
  .text--underline:link{
    text-decoration: underline;
  }
  .text--uppercase {
    text-transform: uppercase;
  }
  .continue-shop{
    font-size: 12px;
    font-weight: 400 !important;
  }
  .leave-note{
    font-family: 'GT Walsheim Pro';
    font-size: 15px;
    letter-spacing: 1px;
  }
}
.text-align--left {
  text-align: left
}

.text-align--center {
  text-align: center
}

.text-align--right {
  text-align: right
}
.fw--blocks {
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 0;
  >* {
    position: relative;
    float: left;
    display: block;
    margin: 0;
    width: 100%;
    min-height: 1px;
  }
  .block {
    position: relative;
    float: left;
    display: block;
    margin: 0;
    width: 100%;
    min-height: 1px;
  }
  >*.show-after-js {
    visibility: hidden;
  }
  .block.show-after-js {
    visibility: hidden;
  }
  .width--1 {
    width: 8.33333%;
  }
  .width--2 {
    width: 16.66667%;
  }
  .width--3 {
    width: 25%;
  }
  .width--4 {
    width: 33.33333%;
  }
  .width--5 {
    width: 41.66667%;
  }
  .width--6 {
    width: 50%;
  }
  .width--7 {
    width: 58.33333%;
  }
  .width--8 {
    width: 66.66667%;
  }
  .width--9 {
    width: 75%;
  }
  .width--10 {
    width: 83.33333%;
  }
  .width--11 {
    width: 91.66667%;
  }
  .width--12 {
    width: 100%;
  }
  &.spacing--2y {
    padding-top: 5px;
    padding-bottom: 5px
  }
  &.spacing--2y >*{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.fw--blocks.show-after-js {
  visibility: hidden;
}
.fw--blocks.list {
  >* {
    display: inline-block;
    width: auto;
    float: none;
  }
  .item {
    display: inline-block;
    width: auto;
    float: none;
  }
}
.fw--blocks.vertical {
  >* {
    float: none;
    display: block;
  }
  .item {
    float: none;
    display: block;
  }
}
@media (min-width: 767px) {
  .template-cart {
    .wrapper, .panel{
      padding:50px;
    }
  }
  .fw--blocks {
    .width--medium-1 {
      width: 8.33333%;
    }
    .width--medium-2 {
      width: 16.66667%;
    }
    .width--medium-3 {
      width: 25%;
    }
    .width--medium-4 {
      width: 33.33333%;
    }
    .width--medium-5 {
      width: 41.66667%;
    }
    .width--medium-6 {
      width: 50%;
    }
    .width--medium-7 {
      width: 58.33333%;
    }
    .width--medium-8 {
      width: 66.66667%;
    }
    .width--medium-9 {
      width: 75%;
    }
    .width--medium-10 {
      width: 83.33333%;
    }
    .width--medium-11 {
      width: 91.66667%;
    }
    .width--medium-12 {
      width: 100%;
    }
  }
  .text-align--medium-left {
    text-align:left
  }

  .text-align--medium-center {
    text-align: center
  }

  .text-align--medium-right {
    text-align: right
  }
}
@media (min-width: 1024px) {
  .show--large {
    display: inherit !important;
  }
  .fw--blocks {
    .width--large-1 {
      width: 8.33333%;
    }
    .width--large-2 {
      width: 16.66667%;
    }
    .width--large-3 {
      width: 25%;
    }
    .width--large-4 {
      width: 33.33333%;
    }
    .width--large-5 {
      width: 41.66667%;
    }
    .width--large-6 {
      width: 50%;
    }
    .width--large-7 {
      width: 58.33333%;
    }
    .width--large-8 {
      width: 66.66667%;
    }
    .width--large-9 {
      width: 75%;
    }
    .width--large-10 {
      width: 83.33333%;
    }
    .width--large-11 {
      width: 91.66667%;
    }
    .width--large-12 {
      width: 100%;
    }
  }
  .text-align--large-left {
    text-align:left
  }

  .text-align--large-center {
    text-align: center
  }

  .text-align--large-right {
    text-align: right
  }
}

.hide-for-all {
  display: none !important;
}
.spacing--1 {
  padding: 5px;
}
.spacing--2 {
  padding: 10px;
}
.spacing--3 {
  padding: 15px;
}
.spacing--4 {
  padding: 30px;
}
.spacing--5 {
  padding: 50px;
}
.spacing--6 {
  padding: 70px;
}
.spacing--7 {
  padding: 100px;
}
.spacing--1x {
  padding-left: 5px;
  padding-right: 5px;
}
.spacing--2x {
  padding-left: 10px;
  padding-right: 10px;
}
.spacing--3x {
  padding-left: 15px;
  padding-right: 15px;
}
.spacing--4x {
  padding-left: 30px;
  padding-right: 30px;
}
.spacing--5x {
  padding-left: 50px;
  padding-right: 50px;
}
.spacing--6x {
  padding-left: 70px;
  padding-right: 70px;
}
.spacing--7x {
  padding-left: 100px;
  padding-right: 100px;
}
.spacing--1y {
  padding-top: 5px;
  padding-bottom: 5px;
}
.spacing--2y {
  padding-top: 10px;
  padding-bottom: 10px;
}
.spacing--3y {
  padding-top: 15px;
  padding-bottom: 15px;
}
.spacing--4y {
  padding-top: 30px;
  padding-bottom: 30px;
}
.spacing--5y {
  padding-top: 50px;
  padding-bottom: 50px;
}
.spacing--6y {
  padding-top: 70px;
  padding-bottom: 70px;
}
.spacing--7y {
  padding-top: 100px;
  padding-bottom: 100px;
}
.spacer {
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .template-cart {
    .layout--main-content {
      padding: 0;
      margin-top: 20px;
      .order-notes {
        padding: 0 15px;
      }
    }
  }
  .spacing--small-1 {
    padding: 5px;
  }
  .spacing--small-2 {
    padding: 10px;
  }
  .spacing--small-3 {
    padding: 15px;
  }
  .spacing--small-4 {
    padding: 30px;
  }
  .spacing--small-5 {
    padding: 50px;
  }
  .spacing--small-6 {
    padding: 70px;
  }
  .spacing--small-7 {
    padding: 100px;
  }
  .spacing--small-1x {
    padding-left: 5px;
    padding-right: 5px;
  }
  .spacing--small-2x {
    padding-left: 10px;
    padding-right: 10px;
  }
  .spacing--small-3x {
    padding-left: 15px;
    padding-right: 15px;
  }
  .spacing--small-4x {
    padding-left: 30px;
    padding-right: 30px;
  }
  .spacing--small-5x {
    padding-left: 50px;
    padding-right: 50px;
  }
  .spacing--small-6x {
    padding-left: 70px;
    padding-right: 70px;
  }
  .spacing--small-7x {
    padding-left: 100px;
    padding-right: 100px;
  }
  .spacing--small-1y {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .spacing--small-2y {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .spacing--small-3y {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .spacing--small-4y {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .spacing--small-5y {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .spacing--small-6y {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .spacing--small-7y {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.cart-container .show--medium{
  display: none;
}
.cart-container {
  @media (min-width: 768px) and (max-width:1023px){
    .show--small{
      display: none;
    }
    .show--medium{
      display: block;
    }
  }
  @media (min-width: 1025px) {
    .show--small{
      display: block;
    }
    .show--medium{
      display: none;
    }
  }
  @media(max-width: 1024px){
    .fw--blocks .width--medium-4 {
      width: 33.33333%;
    }
  }
  @media (max-width: 767px){
    .ship-cal{
      margin-top: 0;
    }
    .show--small{
      display: inherit;
      line-height: 1.3;
    }
    .fw--blocks .width--medium-4{
        width: 100%;
    }
    .image-mobile{
      width: 33.333%;
    }
    .mobile-title{
      display: none;
    }
  }
}
@media  (max-width: 767px){
  .template-cart .panel{
    padding: 60px 0;
  }
}