//category page
.template-category{
  h1, h2, h3, h4, h5, h6, a {
    font-family: 'Perpetua MT' !important;
  }

  .layout-module.collection-container{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .collection-container.Shop{
    padding-top: 79px;
  }

  .collection-title{
    display: flex;
    width: 100%;

    .content-description{
      max-width: 800px;
      margin: 0px auto 53px;
      padding-left: 50px;
      padding-right: 50px;
      @media(max-width: 767px){
        padding: 0;
      }
      .description-details{
        @media(max-width: 767px){
          padding: 0 45px;
        }
      }
    }
  }

  .product-grids{

    .product-grid-item{
      margin-bottom: 65px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: 992px) {
     .product-grid-item{
       padding-left: 15px;
       padding-right: 15px;
     }
    }
    @media (max-width: 767px) {
      .product-grid-item{
        margin-bottom: 50px;
      }
    }
  }

  .product-item-details{
    padding: 0 4.158%;
    text-align: center;
    margin-top: 10px;


    .product-item-brand{
      position: absolute;
      top: 0;
    }
    .product-item-title, .product-item-price{
      display: inline-block;
      margin: 0;
      padding: 0 5px;
    }
    *{
      font-size: 12px;
      line-height: 14px;
      color: #000;
    }
    a{
      color: #444444;
      font-size: 16px;
      line-height: 1.13636364;
      @media (min-width: 1024px) {
        line-height: 1.25;
      }
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    .product-item-price{
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      //display: contents;
      .price-value{
        color: #444444;
      }
    }
  }
  .single-product-rating .rating-stars-readonly{
    margin: auto;
  }
  .product-item-actions{
    display: none;
   }
  .product-item-thumbnail:hover{
    .product-item-link{
      background-color: black;
    }
    .product-item-actions {
      z-index: 1;
      display: block;
      opacity: 1;
      transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }
  .product-item-link {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    @media (max-width: 767px) {
      padding-bottom: 100%;
    }
    //background: #f4eae0 !important;
    //&:before{
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  top: 0; bottom: 0; left: 0; right: 0;
    //  width: 100%; height: 100%;
    //  background: #f4eae0;
    //}
    img {
      width: 100%;
      margin: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
    }
  }
  .product-item-thumbnail > a:after{
    background: none;
    right: 0;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.7;
    height: 100%;
    display: block;
    z-index: 1;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 114%;
    transition: background 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .product-item-thumbnail:hover > a:after{
    display: none;
  }

  .product-item-thumbnail:hover {
    img {
      opacity: 1;
    }

    & ~ .product-item-details{
      a, .price-value{
        color: #1b1a1a;
      }
    }
  }
  .product-item-details > .product-rating-block, .container.page-header, .pagination-container, .product-item-empty{
    display: none;
  }


  .collection-title h1{
    text-align: center;
    color: #cd792b;
    text-transform: none;
    font-size: 28px;
    padding: 0 15px;
    width: 100%;
    margin-bottom: 30px;
    @media (max-width: 850px) {
      margin-top: 60px;
    }
    @media (max-width: 767px) {
      margin-top: 20px;
      font-size: 22px;
      margin-bottom: 31px;
    }
  }
  @media(max-width: 767px){
    .collection-container{
      padding-bottom: 0;
    }
  }
}
//end category page