
// Homepage
//===================================================================================


header.header-active{

    .navigation-toggle-mobile-wrapper{
        top: 50%;
        transform: translate(-50%);
        right: 0px;

        .navigation-toggle-mobile, .navigation-toggle-mobile:before, .navigation-toggle-mobile:after{
            border-top: 2px solid #000;
        }
    }


}

.main-header{
    position: fixed !important;
    min-height: unset;
    transition: transform .5s ease,-webkit-transform .5s ease;
    z-index: 10;

    &.header-active{
        transform: translateY(-54px) !important;
        top: 0px;
        width: 100%;
        left: 0px;

        .header-navigation-site{
            align-items: center;
        }

        .navUser-mobile{
            margin-top: 0px;

            .navPages-item{

                path{
                    fill: #444 !important;
                }

                circle{
                    fill: #444 !important;
                }
            }
        }

        .navPages-action{
            .cart-quantity{
               //background: #fef9f5;
            }
        }

        @media (max-width: 767px) {
            transform: translateY(-44px) !important;
        }

    }

    &.header-active-hide{
        transform: translateY(0%) !important;
        top: 0px;
        width: 100%;
        left: 0px;

        .header-navigation-site{
            align-items: center;
        }

        .navUser-mobile{
            margin-top: 8px;

            .navPages-item{

                path{
                    fill: #444 !important;
                }

                circle{
                    fill: #444 !important;
                }
            }
        }

        .navigation-toggle-mobile-wrapper{
            top: 50%;
            transform: translate(-50%);
            right: 0px;

            .navigation-toggle-mobile, .navigation-toggle-mobile:before, .navigation-toggle-mobile:after{
                border-top: 2px solid #000;
            }
        }

        .navPages-action{
            .cart-quantity{
                //background: #fef9f5;
            }
        }
    }

    .navigation-toggle-mobile-wrapper{
        padding: 0px;
        width: 30px;
        top: 30px;
        right: 15px;
        height: 50px;

        @media (max-width: 992px) {
            display: block !important;
        }
    }

    .shipping{
        overflow: hidden;
        background: #FAF2E8;
        padding:0px 15px;
        height: 54px;
        transition: 1s;

        p{
            text-align: center;
            color: #6E2333;
            font-size: 16px;
            margin: 0px;
            line-height: 54px;
            font-family: Perpetua MT;
        }

        .close-shipping{
            font-weight: 700;
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;

            &:before{
                content: "\d7";
                color: #000;
                font-size: 28px;
                line-height: 30px;
            }
        }

        &.hide{
            display: none;
        }

        @media (max-width: 767px) {
            height: 44px;

            p{
                line-height: 44px;
            }

            .close-shipping{
                top: 5px;
                right: 10px;
            }
        }
    }

    .header-navigation-site{
        display: flex;
        padding: 0px 50px;
        flex-wrap: wrap;
        position: relative;

        .header-logo{
            display: flex;
        }

        .logo-site{
            width: 50px;
            padding-top: 15px;
            padding-bottom: 15px;

            .header-logo-image{
                padding: 0px;
                top: 0px;
                transform: translate(0%);
                width: 39px !important;
                height: 100px;

                &.dark{
                    position: relative;
                    opacity: 1;
                    display:none!important;
                }

                &.hide-logo{
                    width: 27px!important;
                    height: 70px;
                }

                &.active{
                    display: block;
                    top: 0px;
                    position: relative;
                    transform: translate(0%);
                    width: 39px !important;
                    height: 100px;

                }

                @media (max-width: 767px) {

                    width: 27.5px !important;
                    height: 70px;
                }
            }
        }

        .navPages-container{
            width: calc(100% - 50px);
        }


        .navPages-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            height: 50px;
            align-items: center;
            position: relative;

            .navPages-item{
                display: inline-block;
                height: 100%;

                .navPages-action{
                    font-size: 18px;
                    letter-spacing: 0;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0px 15px;
                    position: relative;
                    font-weight: 500 !important;

                    @media (max-width: 1080px) {
                        padding: 0px 10px;
                    }


                    svg{
                        margin-left: 5px;

                        path{
                            fill: #fff !important;
                        }

                        circle{
                            fill: #fff !important;
                        }
                    }

                    &.has-subMenu{
                        padding-right: 30px;
                    }
                }
            }
        }

        .navPage-subMenu{
            display: none;
            position: absolute;
            background: #fef9f5;
            padding: 15px 30px;
            box-shadow: 0 12px 18px rgba(58,59,59,.26);

            .navPage-subMenu-item{
                line-height: 48px;
                .navPage-subMenu-action{
                    font-size: 18px;
                    letter-spacing: 0;
                    color: #444;
                    padding: 0px;
                }
            }
        }

        .navPages-action-moreIcon{
            position: absolute;
            right: 15px;
            padding-bottom: 3px;

            use{
                fill: #fff;
            }

            &.active{
                 transform: rotate(180deg);
                 top: 12px;
                 right: 10px;
            }
        }

        @media (max-width: 992px) {
            padding: 0px 25px;
        }

        @media (max-width: 767px) {
            padding: 0px 25px 0px 15px;
        }

        @media (max-width: 550px) {
            padding: 0px 15px;
        }
    }

    //.header-container-site{
    //    position: absolute;
    //    width: 100%;
    //    top: 36px;
    //    left: 0px;
    //}

    .header-container-site.active{
        //background: #fff;
        //box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);

        .navPages-list{

            .navPages-item{

                .navPages-action{
                    //color: $body-color;
                        color:#444;
                    svg{

                        path{
                            fill: #444 !important;
                        }

                        circle{
                            fill: #444 !important;
                        }
                    }
                }
            }
        }
        .navPages-action-moreIcon{

            use{
                fill: #444;
            }
        }

    }

}

.main-content{

    @media (max-width: 992px) {
        &.Wonder.Valley{
            margin-top: 45px;
        }
    }

    z-index: 9;

    .carousel-wrapper{
        padding-bottom: 0px;
        margin-top: 54px;
        margin-right: -50px;
        margin-left: -50px;

        .carousel-item{

            .carousel-item-background{
                height: 100%;
                background-image: none !important;
                padding-bottom: 55.6%;
                position: relative;

                .sr-only{
                    position: absolute !important;
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    clip: auto;
                }
            }

            .carousel-item-info{
                margin: 0px;
                position: absolute;
                top: 50%;
                left: 80%;
                transform: translate(-50%, -50%);
                padding: 0px;
            }

            .carousel-item-title{
                font-size: 50px;
                color: #fff;
                text-transform: capitalize;
                max-width: 375px;
                font-weight: 500 !important;
            }

            .button{
                border: 2px solid #fff;
                border-radius: 0px;
                color: #fff;
                padding: 10.5px 17px;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                text-decoration: none;
            }

            @media (max-width: 992px) {
                .carousel-item-info{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }

                .carousel-item-title{
                    text-align: center;
                    max-width: 100%;
                }

                .carousel-item-background{
                    padding-bottom: 54%;
                }
            }

            @media (max-width: 767px) {
                .carousel-item-info{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                }

                .carousel-item-title{
                    margin: auto;
                    font-size: 24px;
                    line-height: 26px;
                    padding: 0px 20px;
                    margin-bottom: 15px;
                }

                .carousel-item-background{
                    padding-bottom: 55%;
                }
            }
        }

        .flickity-page-dots{
            position: absolute;
            top: unset;
            bottom: 25px;
            left: unset;
            width: auto;
            right: 50px;
            padding: 0px;
            transform: unset;

            .dot{
                color: #fff;
                opacity: .8;
                width: 12px;
                height: 12px;

                &:before{
                    display: none;
                }

                &.is-selected{
                    border: 2px solid #fff;
                    color: transparent;
                    background: transparent
                }
            }
        }

        .flickity-viewport{
            cursor: unset;
            background: #fef9f5;
        }

        //.carousel-item:nth-child(2){
        //    .carousel-item-title{
        //        max-width: 200px;
        //    }
        //}

        .flickity-button{
            display: none;
        }

        @media (max-width: 767px) {
            margin-top: 44px;
            .flickity-page-dots{
                //.dot{
                //    width: 10px;
                //    height: 10px;
                //}
            }
        }
    }
}

.block-featured-homepage{

    .featured-title{
        padding: 145px 0px 165px;
        background: #f7f7f7;
        margin-left: -50px;
        margin-right: -50px;
    .heading-featured{
            max-width: 70%;
            letter-spacing: 1px;
            margin: auto;
            color: #cd792b;
            font-family: Perpetua MT;
            font-weight: 700;
            text-transform: initial;
            font-size: 28px;
            text-align: center;
        }
        @media (max-width: 1023px) and (min-width: 768px) {
            .heading-featured{
                font-size: 24px;
                line-height: 1.25;
            }
        }
        @media (max-width: 767px) {
            padding: 65px 0px;

            .heading-featured{
                font-size: 18px;
                width: 70%;
                padding: 0px 10px;
            }
        }
    }

    .featured-content{
        position: relative;
        margin-left: -50px;
        margin-right: 0px;

        .sub-content-img{
            width: 100%;
            position: relative;

            .image-container{
                padding-top: 47.91666666666667%;

                img{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .featured-content-img{
            max-width: 40%;
            text-align: left;
            transform: translate(18%, -50%);
            min-width: 40%;
            left: 0;
            padding: 30px;
            padding-right: 4rem;
            top: 50%;
            position: absolute;

            .featured-content-text-container{
                max-width: 600px;
                margin: 0 auto;

                h2{
                    color: #cd792b;
                    font-size: 28px;
                    text-transform: initial;
                    padding-bottom: 15px;
                    margin-bottom: 0px;

                    @media (max-width: 1023px) {
                        font-size: 24px;
                    }

                    @media (max-width: 767px) {
                        font-size: 22px;
                    }
                }

                p{
                    font-family: GT Walsheim Pro;
                    font-size: 15px;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    margin: 0px;
                    color: $body-color;
                    padding-bottom: 15px;
                }

                .link-more{
                    display: flex;
                }

                a{
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #0e142c;
                    border: 2px solid $body-color;
                    padding: 7.5px 20px;
                }
            }
        }

        @media (max-width: 767px) {
            margin: 0px;

            .sub-content-img{
                margin: 0px ;
            }

            .featured-content-img{
                position: relative;
                top: 0px;
                transform: unset;
                width: 100%;
                padding: 20px;
                text-align: left;
                max-width: 600px;
                margin: 0 auto;

                .featured-content-text-container{
                    .link-more{
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.block-why-take{
    background: #fef9f5;
    padding: 55px 0px 70px;

    .content-why-take{
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }

    .heading-why-take{
        h2{
            text-align: center;
            line-height: 1.25;
            text-transform: initial;
            color: $body-color;
        }
    }

    .featured-grid-body{
        display: flex;
        flex-wrap: wrap;
    }

    .item-why-take{
        width: 33.33%;
        padding: 15px;
        text-align: center;

        .content-text{
            h4{
                padding-bottom: 15px;
                font-size: 18px;
                margin-bottom: 0px;
                text-transform: initial;
            }
            p{
                font-family: 'GT Walsheim Pro';
                font-size: 15px;
                margin: 0px;
                line-height: 1.5;
                color: #444444;
            }
        }

        .content-img-item{
            img{
                width: 100%;
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;

        .heading-why-take{
          h2{
              font-size: 22px;
          }
        }

        .item-why-take{
            width: 100%;
            padding: 0px;
        }

        .content-why-take{
            padding: 0px 17.5px ;
        }
    }
}

.block-give-back{
    background-color: #f7f7f7;
    padding: 140px 0px;

    .content-give-back{
        max-width: 75%;
        margin: auto;
    }

    .heading-give-back{
        text-align: center;
        color: #333333;
        text-transform: initial;
        padding-bottom: 30px;
        margin-bottom: 0px;
    }

    p{
        font-family: 'GT Walsheim Pro';
        font-size: 15px;
        margin: 0px;
        text-align: center;
        color: $body-color;
        font-weight: 600;
    }

    @media (max-width: 767px) {
        padding: 48px 0px;

        .content-give-back{
            width: 70%;
            padding: 0px 10px;
        }

        .heading-give-back{
            font-size: 18px;
            color: #333333;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}


.block-product-shop-now{

    .content-shop-now{
        position: relative;
    }

    .content-img-shop-now{
        position: relative;
        margin-left: -50px;
        margin-right: 0px;

        .sub-content-img{
            padding-bottom: 47.77777777777777%;

            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
            }

        }

    }

    .content-text-shop-now{
        max-width: 40%;
        text-align: left;
        transform: translate(18%, -50%);
        min-width: 40%;
        left: 0;
        padding-right: 60px;
        top: 50%;
        position: absolute;
        z-index: 1;
    }

    .featured-content--text-container{
        max-width: 600px;
        margin: 0 auto;

        h2{
            color: #ffffff;
            padding-bottom: 15px;
            margin-bottom: 0px;
            text-transform: initial;
        }

        p{
            font-family: 'GT Walsheim Pro';
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            margin: 0px;
            padding-bottom: 15px;
        }
    }
    .link-shop-now{
        display: flex;

        a{
            font-size: 12px;
            color: #fff;
            text-transform: uppercase;
            border: 2px solid #ffffff;
            padding: 10px 15px;
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 30px;

        .content-img-shop-now{
            margin: 0px;
        }

       .content-text-shop-now{
           position: relative;
           top: 0px;
           transform: unset;
           width: 100%;
           padding: 45px 20px 25px;
           text-align: center;
           max-width: 600px;
           margin: 0 auto;
       }

        .featured-content--text-container{
            h2{
                color: #0e142c;
                font-size: 22px;
                padding-bottom: 10px;
            }

            p{
                color: #444;
            }
        }

        .link-shop-now{
            justify-content: center;

            a{
                color: #0e142c;
                border-color: #0e142c;
                padding: 7.5px 15px;
            }
        }
    }
}

.block-img-homepage{
    margin-left: -50px;
    margin-right: -50px;

    .content-img{
        padding-top: 48.26388888888889%;
        position: relative;

        img{
            position: absolute;
            top:0px;
            left:0px;
            height: 100%;
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        padding: 0px 15px 30px;
        margin: 0px;
    }
}


.main-footer{
    padding-bottom: 0px;

    .footer-interactions{
        border: 0px;
    }

    .copyright-bottom{

        background: #fff;
        padding: 30px 50px;
        padding-bottom: 10px;
        .img-payment{
            text-align: center;

            img{
                width: 110px;
                height: auto;
                margin-bottom: 10px;
            }
        }

        .content-copyright{
            p{
                font-family: 'Merriweather', serif;
                font-size: 8px;
                line-height: 18px;
                margin: 0px;
                text-align: center;
                letter-spacing: 1.08px;
            }
        }

        .tel-infor{
            margin: auto;
            text-align: center;
            img{
                margin-bottom: 10px;
            }
            p{
                text-align: center;
                color: #444444;
                margin-top: 0px;
                font-size: 15px;
                font-family: 'GT Walsheim Pro';
            }

            a{
                font-size: 15px;
                color: #444444;
                font-weight: 500 !important;
            }

            span{
                font-family: 'Merriweather', serif;
                font-size: 8px;
                line-height: 18px;
                display: block;
                text-align: center;
            }
        }
    }

    .footer-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 25px;
        justify-content: space-between;
        .nav-page{
            width: 50%;
            padding-left: 25px;
            padding-right: 25px;


            .navPages-list{
                width: fit-content;
            }

            .navPages-item{
                line-height: 19px;
                a{
                    font-size: 15px;
                    font-weight: 400 !important;
                    color: #000;

                }
            }


            @media (max-width: 767px) {
                width: 100%;
                text-align: center;

                .navPages-list{
                    margin: auto;
                }

                .navPages-item{
                    line-height: 16px;
                    padding: 10px 0px;
                }
            }
        }

        .footer-content{
            width: 41.66667%;
            padding: 0px;



            .footer-content-column{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                padding: 0px 25px;
                height: 100%;
            }

            .footer-module{
                display: inline-block;
                padding: 7.5px;
                p{
                    font-size: 12px;
                    font-family: 'GT Walsheim Pro';
                    margin: 0px;
                    color: black;
                }

                .mailing-list-submit{
                    display: none;
                }

                .form-label{
                    padding: 0px;
                }

                .form-input{
                    border: 0px;
                    border-bottom: 1px solid #aaa;
                    background: transparent;
                    color: #444;
                    font-size: 14px;
                    font-family: 'Merriweather', serif;
                    outline: none;
                    min-width: 100%;
                    max-width: 100%;
                    line-height: normal;
                    padding: 9px 0 5px;
                    &::-webkit-input-placeholder {
                        color: #444;
                    }

                    &:-ms-input-placeholder {
                        color: #444;
                    }

                    &:placeholder {
                        color: #444;
                    }
                }
            }


            .fw-blocks{
                display: inline-block;
                padding-left: 25px;
                padding-top: 0px;

                .item{
                    font-size: 22px;
                    margin-left: 10px;
                    width: 22px;
                    display: block;
                    float: left;
                }
                svg {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                    width: 18px;
                    height: 18px;
                    fill: #0e142c;
                }
            }

            @media(max-width: 1024px) {
                .fw-blocks {
                    display: flex;
                    width: 100%;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding: 30px 0;
                }
            }
            @media (max-width: 767px) {
                width: 100%;

                .footer-content-column{
                    justify-content: center;
                    padding: 0;
                    padding-top: 50px;
                }
            }

            @media (max-width: 550px) {
                .fw-blocks{
                    width: 100%;
                    padding: 0px;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

.navPages-container-mobile{
    position: fixed;
    top: 0px;
    overflow: visible;
    display: block;
    z-index: 100;
    height: 100vh;
    width: 80%;
    max-width: 400px;
    background-color: #fef9f5;
    transform: translateX(0);
    left: 100%;
    transition: .5s;
    overflow-y: scroll;
    overflow-x: hidden;

    &.active{
        transform: translateX(-100%);
    }
}

body{
    &.active{
        overflow: hidden;
    }

    .main-content-body{
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .navigation-wrap{
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 100px;
        background: transparent;
        overflow-y: scroll;

        &.active{
            display: block;

            .modal-mask{
                display: block;
            }
        }

        .modal-mask{
            display: none;
            opacity: 0.8;
            position: fixed;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            z-index: 99;
            background-color: #000;
        }

        .navigation-tier-mini{
            position: relative;
            width: 100%;
            min-height: 100%;
            z-index: 100;

            &.active{
                height: 100%;

                #quick-cart{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        #quick-cart{
            padding: 30px;
            margin: 0px;
            background: #fef9f5;
            text-align: center;
            min-width: 300px;
            display: block;
            max-width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            .empty-cart{
                font-family: 'GT Walsheim Pro';
                font-size: 15px;
                padding: 15px;

                a{
                    color: #cd792b;
                    font-weight: 400 !important;
                }
            }

            .quick-cart-item{
                margin-bottom: 0px;
            }

            .quick-cart-item-info{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 15px;
            }

            .quick-cart-image-column{
                width: 50%;
                height: 100%;
                padding: 0px;
                display: flex;
                flex-wrap: wrap;

                .quick-cart-image{
                    width: 33.33%;
                    max-width: 33.33%;
                    max-height: 100%;
                    padding: 15px;
                }

                .quick-cart-product-name{
                    color: #444444;
                    line-height: 1.2;
                    font-size: 18px;
                    width: 66.66%;
                    padding: 15px;
                    text-transform: capitalize;

                    a{
                        font-weight: 400 !important;
                    }
                }
            }

            .quick-cart-content-column{
                width: 50%;
                padding-top: 15px;

                .content-item-mini-cart{
                    display: flex;
                    justify-content: flex-end;
                }

                .price-item{
                    font-weight: 600;
                }

                .quick-cart-product-name-mobile{
                    display: none;
                    color: #444444;
                    line-height: 1.2;
                    font-size: 18px;
                    text-transform: capitalize;
                    margin-bottom: 10px;
                    padding: 0px 15px;

                    a{
                        font-weight: 400 !important;
                    }
                }

                .price-item{
                    line-height: 1.375;
                    font-size: 14px;
                    font-family: 'Lato', sans-serif;
                    color: #444;
                    padding: 15px;
                }

                .quick-cart-quantity-overlay{
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 48px;
                    height: 38px;
                    border: 1px solid #eaeaea;
                    border-left: 0px;
                    border-right: 0px;
                    background: #fff;
                    color: #444444;
                    font-size: 14px;
                    font-family: "Merriweather" !important;
                }

                .quick-cart-item-actions{
                    padding: 5px 15px;
                }

                .quick-cart-item-action{
                    display: inline-block;
                    float: left;
                    width: 20px;
                    height: 38px;
                    text-align: center;
                    padding: 0px;
                    background: #fff;
                    border: 1px solid #eaeaea;

                    svg{
                        width: 8px;
                        height: 8px;
                    }
                }

                .remove-product{
                    padding: 15px;
                    height: fit-content;
                    cursor: pointer;
                    position: relative;

                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }
            }

        }

        .quick-cart-totals{

            .quick-cart-subtotal{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                border: 0px;
                margin-top: 0px;
                padding: 0px;

                .label{
                    line-height: 22px;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    color: #444444;
                    font-family: 'Merriweather';
                    padding: 15px;
                }

                .total{
                    font-weight: bold;
                    line-height: 1.375;
                    font-size: 16px;
                    font-family: 'Lato', sans-serif;
                    padding: 15px;
                }
            }

            .infor-mini-cart{
                display: flex;
                flex-wrap: wrap;

                .infor-text{
                    width: 50%;

                    p{
                        margin-top: 0px;
                        font-family: 'GT Walsheim Pro';
                        font-size: 15px;
                        line-height: 1.5;
                    }

                    textarea{
                        width: 100%;
                        border-radius: 2px;
                        border: 1px solid #eaeaea;
                    }
                }

                .quick-cart-actions{
                    width: 50%;
                    text-align: right;

                    .text-shipping{
                        margin-bottom: 45px;
                    }

                    p{
                        font-size: 15px;
                        font-family: 'GT Walsheim Pro';

                        a{
                            font-family: 'Perpetua MT' !important;
                            font-size: 15px;
                            font-weight: 400 !important;
                        }
                    }

                    .continue_shopping{
                        padding: 0px 7.5px;
                        display: inline-block;
                        width: auto;
                        margin-bottom: 15px;
                        a{
                            text-decoration: underline;
                            text-transform: uppercase;
                            line-height: 1.5;
                            font-size: 12px;
                            font-weight: 400 !important;
                        }
                    }

                    .checkout-mini-cart{
                        display: inline-block;
                        width: auto;
                        overflow: hidden;
                        a{
                            font-weight: 400 !important;
                            font-family: 'Lato', sans-serif !important;
                            text-transform: uppercase;
                            font-size: 10px;
                            padding: 15px 23px;
                            line-height: 28px;
                            color: #fff;
                        }

                    }
                }
            }
        }


        @media (max-width: 1023px) {
            #quick-cart{

                .quick-cart-item-info{
                    border-bottom: 1px solid #eaeaea;
                }

                .quick-cart-image-column{
                    width: 33.33%;

                    .quick-cart-image{
                        width: 100%;
                        max-width: 100%;
                        display: flex;
                    }

                    .quick-cart-product-name{
                        display: none;
                    }
                }

                .quick-cart-content-column{
                    width: 66.66%;

                    .quick-cart-product-name-mobile{
                        display: block;
                    }

                    .content-item-mini-cart{
                        justify-content: flex-start;
                    }
                }
            }

            .quick-cart-totals{
                .quick-cart-subtotal{
                    justify-content: center;
                    margin-bottom: 30px;
                }

                .infor-mini-cart{

                    .infor-text{
                        width: 100%;
                        text-align: center;
                        margin-bottom: 25px;

                        textarea{
                            max-width: 400px;
                        }
                    }

                    .quick-cart-actions{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            padding: 50px 10px 10px;

            #quick-cart{

                .quick-cart-image-column{
                    width: 100%;

                    .quick-cart-image{
                        width: 33.33%;
                        max-width: 33.33%;
                        padding: 5px;
                    }

                    .quick-cart-product-name{
                        display: block;
                        width: 66.66%;
                        padding: 5px;
                    }
                }

                .quick-cart-content-column{
                    width: 100%;

                    .price-item{
                        line-height: 28px;
                        padding: 5px;
                    }

                    .quick-cart-item-actions{
                        padding: 0px 5px;
                    }

                    .remove-product{
                        padding: 8px 5px 2px;
                    }

                    .quick-cart-product-name-mobile{
                        display: none;
                    }

                    .content-item-mini-cart{
                        margin-bottom: 30px;
                    }
                }

                .quick-cart-totals{
                    .infor-mini-cart{
                        .quick-cart-actions{
                            .text-shipping{
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
        }

        .quick-cart-content-area{
            max-height: 100%;
            overflow: hidden;
        }

        .remove-mini-cart{
            padding: 18px 15px;
            position: fixed;
            top: 0px;
            right: 20px;
            z-index: 100;
            cursor: pointer;

            svg{
                width: 18px;
            }

            path{
                fill: #fff;
            }

            @media (max-width: 767px) {
                right: 0px;
            }
        }

    }

}

#menu-mobile{

    .item-sub-menu-mobile{
        padding: 20px 15px;

        .navPages-action-sub-menu-mobile{
            font-size: 12px;
            font-weight: 400 !important;
        }

        .navPages-item{
            border: 0px !important;
            line-height: 33px;
        }
    }

    .navPages-list{
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 400px;
        overflow: hidden;

        .search-overlay-form{
            top: 0px;
            left: 0px;
            padding-bottom: 0px;

            .search-overlay-input{
                padding: 0px;
                line-height: 50px;
                padding-left: 35px;
            }

            .search--icon{
                top: 12px;
            }
        }

        .navPages-item{
            width: 100%;
            border-bottom: 1px solid #eaeaea;
            height: auto;
            position: relative;
        }

        .navPages-action{
            font-size: 15px;
            padding: 18px 35px 18px 15px;
            color: $body-color;
            letter-spacing: 0;
            display: flex;
            height: 100%;
            position: relative;
            font-weight: 400 !important;

            &:hover{

                svg{

                    path{
                        fill: #e30713 !important;
                    }

                    circle{
                        fill: #e30713 !important;
                    }
                }
            }
        }

        .navPages-action-moreIcon{
            transform: rotate(-90deg);
            position: absolute;
            right: 10px;

            svg{
                width: 20px;
                height: 7px;
            }

            use{
                fill: #444;
            }
        }

        .navPage-subMenu{
            position: absolute;
            top: 0;
            overflow: visible;
            display: block;
            z-index: 101;
            height: fit-content;
            width: 100%;
            max-width: 400px;
            background-color: #fef9f5;
            transform: translateX(0);
            left: 100%;
            transition: .5s;
            padding: 0px;

            .navPages-action{
                padding: 0px;
            }

            .navPage-subMenu-item{
                border-bottom: 1px solid #eaeaea;
                height: auto;
                line-height: 100%;

                .navPage-subMenu-action{
                    padding: 22px 35px;
                }

                &:first-child{
                    .navPage-subMenu-action{
                        padding: 22px 35px 22px 15px;
                    }

                }
            }

            .heading-subMenu{
                color: $body-color;
                letter-spacing: 0;
                font-weight: 500 !important;
                text-transform: capitalize;
                font-size: 15px;
                text-align: center;
                margin: 0px;
                border-bottom: 1px solid #eaeaea;
                position: relative;
                padding: 20.5px 35px;

                .navPages-action-moreIcon-back{
                    position: absolute;
                    left: 10px;
                    transform: rotate(90deg);

                    svg{
                        width: 20px;
                        height: 7px;
                    }
                }
            }

            &.active{
                transform: translateX(-100%);
            }
        }
    }

}

.mark-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    opacity: 0;
    background: #000;
    cursor: pointer;
    transition: .3s;

    &.active{
        display: block;
        opacity: .3;
    }
}

.navigation-toggle-mobile, .navigation-toggle-mobile:before, .navigation-toggle-mobile:after{
    border-top: 2px solid #fff;
    width: 20px;
}

.navigation-toggle-mobile:after{
    top: -8px;
}

.navigation-toggle-mobile:before{
    top: 4px;
}

.close-show-menu{
    position: fixed;
    top: 10px;
    z-index: 101;
    cursor: pointer;
    right: calc(400px + 15px);
    display: none;

    svg{
        width: 13px;
        height: 13px;
    }

    path{
        fill: #fff;
    }

    &.active{
        display: block;
    }

    @media (max-width: 500px) {
        right: calc(80% + 15px);
    }
}

.show-popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;

    &.show-banner-popup{
        display: block;
    }

    .content-popup{
        width: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        max-height: 80%;
    }

    .form-submit-popup{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 40px;
        background: #000;
        padding: 38px 54px;
        width: 100%;
        max-width: 400px;

        .heading-popup{
            font-size: 16px;
            line-height: 1.25;
            color: #fff;
            text-align: center;
        }

        .form-prefixPostfix{
            position: relative;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #fff;
        }

        .form-input{
            width: 100%;
            border: none;
            padding: 3px 22px;
            background-color: transparent;
            font-size: 14px;
            color: #fff;
            text-align: center;

            &::-webkit-input-placeholder{
                color: #fff;
                text-transform: capitalize;
            }

            &:-ms-input-placeholder{
                color: #fff;
                text-transform: capitalize;
            }

            &::-moz-placeholder{
                color: #fff;
                text-transform: capitalize;
            }
        }

        .button{
            background: transparent;
            border: 0px;
            position: absolute;
            color: #f9f5ec;
            right: 0;
            top: 10px;
            padding: 3px 7px 0;

            polygon{
                fill: #fff;
            }
        }

        .heading-popup-success{
            font-size: 16px;
            line-height: 1.25;
            color: #fff;
            text-align: center;
            display: none;
        }

    }

    .close-popup{
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 100;
        cursor: pointer;

        span{
            font-weight: 700;

            &:before{
                content: "\d7";
                color: #000;
                font-size: 40px;
                line-height: 30px;
            }
        }
    }

    @media (max-width: 992px) {
        .form-submit-popup{
            padding: 15px 20px;
            bottom: 20px;
        }
    }

    @media (max-width: 767px) {
        .content-popup{
            width: 90%;
            max-width: 400px;
        }

        .form-submit-popup{
            position: relative;
            bottom: 0px;
            transform: unset;
            top: -10px;
            left: 0px;
            max-width: 100%;
            padding: 30px 15px;

            .form-field{
                margin-bottom: 0px;
            }

            .form-input{
                max-width: 100%;
            }
        }

        .close-popup{
            top: 5px;
            right: 7px;

            span:before{
                font-size: 36px;
            }
        }
    }
}


.update-qty-product-cart{
    #update-cart-reload{
        border: 0px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 400 !important;
        font-family: 'Lato', sans-serif !important;
    }
}

.navUser-mobile{
    display: none;
    width: calc(100% - 50px);
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 17px;

    .show-mini-cart{
        background-color: #444444;
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
        padding: 0px !important;
    }

    .navPages-action{
        position: relative;
        color: #fef9f5;

        .cart-quantity{
            top: -17px;
            right: -10px;
        }
    }

    .navPages-item{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        path{
            fill: #fff !important;
        }

        circle{
            fill: #fff !important;
        }
    }

    @media (max-width: 992px) {
        display: flex;


    }

    @media (max-width: 550px) {
        padding-right: 40px;
    }
}

.navPages-action{
    .cart-quantity{
        //position: absolute;
        //background: #fff;
        //color: #444;
        //font-size: 12px;
        //width: 20px;
        //height: 20px;
        //text-align: center;
        //line-height: 20px;
        //border-radius: 50%;
        //top: 4px;
        //right: 5px;
    }
}

.single-product-slideshow{

    .single-product-slideshow-image{
        width: 100%;
    }
}

.main-content.events{
    margin-top: 130px;

    .page-events{
        padding-top: 0px;
        .layout-module{
            max-width: 100%;
            padding: 0px 65px;
        }

        .content{
            font-family: 'Merriweather';
            font-size: 12px;

            a{
                color: #cd792b;
                font-weight: 400 !important;
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 108px;

        .page-title{
            padding-bottom: 30px;
        }

        .page-events{
            .layout-module{
                padding: 0px 15px;
            }

            .h3{
                margin-bottom: 10px;
            }
        }

    }
}



.template-product{

    .main-content{

        margin-top: 150px;

        .layout-module{
            max-width: 100%;
            padding: 0px;
        }

        .product-description-container{
            p{
                color: #444 !important;
            }
        }
    }

    @media (max-width: 850px) {
        #tab-warranty p{
            max-width: 100%;
        }
        .Roller {
            p {
                text-align: left;
            }
            .right-img{
                width: auto;
            }
        }
        .product-slideshow-wrapper{
            width: 100%;
        }
        .single-product-right{
            max-width: 100%;
        }

        .single-product-left{
            max-width: 100%;
            text-align: center;
            padding: 0 1.5rem;
            position: relative;
            top: -33px;
            width: 100%;
        }

        .product-description-container{
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        .single-product-left{
            max-width: 100%;
            padding: 0  15px;
            width: 100%;
            margin: auto;
        }
        #tab-warranty p{
            font-size: 12px;
        }
        .tab-content{
            order: 2;
            margin-top: 35px;
        }
        .Roller p{
            text-align: center;
        }
        .product-description-container .Roller{
            p, h1{
                text-align: left;
            }
            h1{
                letter-spacing: 1px;
            }
        }
        .product-container .content-left{
            width: 100%;
        }
        .why-cbd .width--medium-11.spacing--4x > .howto-item .width--medium-10{
            text-align: left;
        }
    }
    .products-related-container{
        max-width: none;
    }
    br{
        font-size: 10px;
    }
    .Roller .fw--blocks{
        .spacing--4{
            padding: 30px;
        }
        h1{
             margin-top: 1.5rem;
         }
    }
    .Roller .product-container .content-left{
        padding-bottom: 60px;
    }
    .product-message-area{
        display: none;
    }
}

body .modal::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.single-product-right{

    .single-product-thumbnails{
        display: none;
    }
}

.main-content.About{
    margin-top: 60px !important;

    @media (max-width: 850px) {
        margin-top: 40px !important;

        .page-about-cbd{
            padding-top: 35px;
        }
    }
}

.template-login{
    .main-content {
        padding-top: 105px;
    }

    @media (max-width: 992px) {
        .layout--main-content{
            .text-align--center{
                margin-bottom: 0px;
            }
        }

        .account-content{
            padding-top: 12px !important;
        }

        .main-content {
            padding-top: 193px;
        }
    }

    @media (max-width: 767px) {
        .main-content {
            padding-top: 0px;
            margin-top: 63px;
        }

        .account-content{
            padding-top: 7px !important;
        }
    }
}

.template-createaccount{

    .main-content {
        padding-top: 105px;
    }

    @media (max-width: 992px) {

        .layout--main-content {
            .text-align--center{
                margin-bottom: 0px;
            }

            .spacing--3y{
                padding: 0px;
            }
        }
        .main-content {
            padding-top: 154px;
        }
    }

    @media (max-width: 992px) {
        .main-content{
            padding-top: 0px;
            margin-top: 63px;
        }

        .layout--main-content {
            .spacing--3y{
                padding: 15px;
            }
        }
    }
}

.cart-item-remove{
    position: relative !important;
}

.button-progress{
    span{
        position: relative;

        &:before{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 8px;
            left: -9px;
            background-size: 18px;
        }
    }

    &.progress{
        opacity: 1;
    }
}

.template-cart{
    .ship-cal a{
        font-weight: 400 !important;
    }
}

.checkoutHeader-logo{
    height: 62px;
}


@media (min-width: 851px) {
    .main-content{
        margin-top: 150px;
    }
}


@media (max-width: 992px) {
    .page-delivery---returns{

        .layout-module{
            padding: 0px 100px;
        }
    }
}


@media (max-width: 992px) {

    header.header-active{
        transform: translateY(-44px) !important;
    }

    .main-header {

        //.header-container-site.active{
        //    background: transparent;
        //    box-shadow: unset;
        //}

        .header-container-site{
            top: 36px;
        }

        .header-navigation-site {

            .navPages-container {
                display: none;
            }

            .logo-site{
                padding-top: 10px;

                .visible{
                    width: 28px;
                }

                //.header-logo-image.dark{
                //    width: 25px !important;
                //    height: 64px !important;
                //}
            }
        }

    }
}

@media (max-width: 767px) {
    .account-body{

        .account-content{

            .g-recaptcha{
                width: 100%;
            }

            .account--register{
                width: auto;
                float: right;
                padding: 0px;
            }
        }
    }

    .page-delivery---returns{

        .layout-module{
            padding: 30px 15px 0px;
        }
    }
}
@media ( max-width: 425px){
    .block-featured-homepage {

        .featured-content {
            .featured-content-img {
                padding-top: 20px;
                text-align: center;
            }

        }
    }


    .block-product-shop-now {
        .content-img-shop-now {
            .sub-content-img img {
                transform: scale(2) translateX(20vw);
                padding-top: 35px;
            }
        }
    }
    .block-product-shop-now {
        .content-text-shop-now {
            padding-top: 130px;
        }
    }
}
@media (min-width: 426px) and (max-width: 600px){

    .block-featured-homepage .featured-content .featured-content-img{
        text-align: center!important;
        padding-right: 0!important;
        max-width: 100%!important;
    }
    .block-featured-homepage .featured-content .featured-content-img .featured-content-text-container .link-more {
        justify-content: center!important;
    }
}
@media (min-width: 426px )and (max-width: 767px){
    .featured-content{
        padding: 30px 15px;
    }
    .block-featured-homepage {
        .featured-content .featured-content-img {
            position: relative;
            top: 0px;
            transform: unset;
            width: 100%;
            padding: 10px;
            text-align: left;
            max-width: 90%;
            padding-right: 4rem;
            min-width: 40%;
            margin: 0;
            .featured-content-text-container .link-more{
                justify-content: left;
            }
        }
    }
}

@media (max-width:767px){
    .main-content {
        .carousel-wrapper {
            overflow: visible;
            margin-left: 0px;
            margin-right: 0px;

            .carousel-item {
                .carousel-item-info {
                    background: #fef9f5;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 2%);
                    text-align: center;
                    position: relative;
                    max-width: 100%;
                    width: 100%;
                    float: left;
                    margin: 0;
                }
                .carousel-item-title{
                    max-width: 200px;
                    color: black;
                    text-align: left;
                    float: left;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                }
                .button {
                    top: 9px;
                    right: 12px;
                    position: relative;
                    border: 2px solid #444;
                    border-radius: 0px;
                    color: #444;
                    float:right;
                    padding: 10.5px 17px;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 700;
                }
            }
            .flickity-page-dots{
                bottom: -14px;
                right: 20px;
                .dot{
                    color:#444444;
                    box-shadow: 0px 0px 2px #666;
                    background: #fff;
                    border: 2px solid #fff;
                    background-color: #0e142c;
                    opacity:0.4;
                }
                .dot.is-selected{
                    color:#444444;
                    box-shadow: 0px 0px 2px #666;
                    background: #fff;
                    border: 2px solid #fff;
                    background-color: #0e142c;
                    opacity:1;
                }
            }
        }
    }
}
.template-search .main-content{
    .page-title{
        width: 100%;
    }
    .search-overlay-form{
        position: static;
        transform: none;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 548px;
        padding-top: 13px;
    }
    .search--icon{
        width: 10%;
        display: inline-flex;
        float: left;
        justify-content: flex-end;
        svg{
            width: 13px;
            height: 13px;
        }
    }
    .search-overlay-input{
        font-size: 18px;
        text-transform: none;
        color: #444444;
        font-family: 'Merriweather', Georgia, serif !important;
        padding: 10px;
        font-weight: 400 !important;
        padding-left: 12px;
    }

    .product-item{
        padding: 0px 20px !important;
        margin-bottom: 100px !important;
    }

    .form-field-inline{
        width: 90%;
        float: left;
    }
    .search--feedback{
        width: 100%;
    }
    .page-title-breadcrumbs{
        display: none;
    }

    .search-tabber-tabs{
        display: none;
    }

    .page-header{
        border: 0px !important;
        margin-bottom: 35px;
    }
}


.template-product{
    .tab-content{
        .product-meta-heading{
            margin-bottom: 0px;
        }
    }
}