body:not(.template-default) {
	font-family: 'Merriweather';

    .main-header{

        .shipping{
             background: #FAF2E8;
        }
    }

    .navPages-item{

        path{
            fill: #444 !important;
        }

        circle{
            fill: #444 !important;
        }
    }

    .navigation-toggle-mobile, .navigation-toggle-mobile:before, .navigation-toggle-mobile:after{
        border-top: 2px solid #000;
    }

	.main-header .header-navigation-site .navPages-list .navPages-item .navPages-action {
		color: #0e142c;

        .navPages-action-moreIcon{
            use{
                fill: #444;
            }
        }

        svg{

            path{
                fill: #444 !important;
            }

            circle{
                fill: #444 !important;
            }
        }
	}

	.main-header .header-navigation-site .logo-site .header-logo-image {
		display: none !important;

		&.dark {
			display: block !important;
			max-height: 100px;
		}
	}

}

.header-logo-text.visible {
	display: none;
}

