//body.template-default {
//    .flickity-slider {
//        transform: none !important;
//        left: auto !important;
//        position: relative;
//    }
//
//    .main-content {
//        .carousel-wrapper {
//            height: 100% !important;
//
//            .carousel-item {
//                position: relative !important;
//                left: auto !important;
//
//                .carousel-item-background {
//                    display: flex;
//                    width: 100%;
//                    background-image: none !important;
//                    height: 100%;
//
//                    img {
//                        width: 100%;
//                        height: 100%;
//                        position: static !important;
//                    }
//                }
//            }
//
//            .flickity-page-dots {
//                display: none;
//            }
//
//            .flickity-viewport {
//                height: 100% !important;
//            }
//        }
//    }
//
//}
