/*! Theme: Fortune v1.19.1 */
/* scss-combine:core/optimized-checkout */
// =============================================================================
// Stencil Checkout - Customize the Optimized Single-Page Checkout experience
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Please do not nest elements within class selectors, and do not use class selectors other than those given below.
// Future support is guaranteed only if class selectors' structure and naming are left unchanged.
//
// =============================================================================

//
// Header Section
// Background, Logo Position
// -----------------------------------------------------------------------------

.optimizedCheckout-header {
  background-color: stencilColor("optimizedCheckout-header-backgroundColor");
  // scss-lint:disable StringQuotes
  background-image: url(stencilImage('optimizedCheckout-backgroundImage', 'optimizedCheckout-backgroundImage-size'));
  // scss-lint:enable StringQuotes
  background-size: cover;

  //
  // TODO:
  // Configure media query to be 'desktop' breakpoint size
  // -----------------------------------------------------------------------------
  @media (min-width: 801px) {
    text-align: stencilString("optimizedCheckout-logo-position");
  }
}

//
// Primary and Secondary Headings
// Text Color & Typography
// .optimizedCheckout-headingPrimary styles top-level headings.
// .optimizedCheckout-headingSecondary styles certain lower-level elements, such as descriptions of cart items.
// -----------------------------------------------------------------------------

.optimizedCheckout-headingPrimary {
  color: stencilColor("optimizedCheckout-headingPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-headingPrimary-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-headingPrimary-font");
}

.optimizedCheckout-headingSecondary {
  color: stencilColor("optimizedCheckout-headingSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-headingSecondary-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-headingSecondary-font");
}

//
// Body
// Background & Shipping Method Overlay
// -----------------------------------------------------------------------------

body {
  background-color: stencilColor("optimizedCheckout-body-backgroundColor");
}

.optimizedCheckout-overlay {
  background-color: stencilColor("optimizedCheckout-body-backgroundColor");
}

//
// Primary & Secondary Content
// Text Color & Typography
// .optimizedCheckout-contentPrimary styles body text in the Order Summary/Order Confirmation; drop-down-list items; and text that summarizes completed steps.
// .optimizedCheckout-contentSecondary styles check boxes' text labels, and lower-level text in the Order Summary.
// -----------------------------------------------------------------------------

.optimizedCheckout-contentPrimary {
  color: stencilColor("optimizedCheckout-contentPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-contentPrimary-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-contentPrimary-font");
}

.optimizedCheckout-contentSecondary {
  color: stencilColor("optimizedCheckout-contentSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-contentSecondary-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-contentSecondary-font");
}

//
// Primary Button
// Background & Border & Text Color & Typography
// Styles the CONTINUE button for each step, & the final confirmation button.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonPrimary {
  background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColor");
  border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColor");
  color: stencilColor("optimizedCheckout-buttonPrimary-color");
  font-family: stencilFontFamily("optimizedCheckout-buttonPrimary-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-buttonPrimary-font");

  &:focus,
  &:hover {
    background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorHover");
    border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorHover");
    color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
  }

  &:active {
    background-color: stencilColor("optimizedCheckout-buttonPrimary-backgroundColorHover");
    border-color: stencilColor("optimizedCheckout-buttonPrimary-borderColorHover");
    color: stencilColor("optimizedCheckout-buttonPrimary-colorHover");
  }
}

//
// Secondary Button
// Background & Border & Text Color & Typography
// Styles the EDIT button for each step.
// -----------------------------------------------------------------------------

.optimizedCheckout-buttonSecondary {
  background-color: stencilColor("optimizedCheckout-buttonSecondary-backgroundColor");
  border-color: stencilColor("optimizedCheckout-buttonSecondary-borderColor");
  color: stencilColor("optimizedCheckout-buttonSecondary-color");
  font-family: stencilFontFamily("optimizedCheckout-buttonSecondary-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-buttonSecondary-font");
}

//
// Links
// Text Color & Typography
// -----------------------------------------------------------------------------

a {
  color: stencilColor("optimizedCheckout-link-color");
  font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-link-font");
}

//
// Order Summary (Mobile Drawer & Modal)
// Background Color
// -----------------------------------------------------------------------------

.optimizedCheckout-orderSummary {
  background-color: stencilColor("optimizedCheckout-orderSummary-backgroundColor");
}

//
// Checkout Steps
// Background & Text Color
// Styles the large step-number indicators on the page's left side.
// -----------------------------------------------------------------------------

.optimizedCheckout-step {
  background-color: stencilColor("optimizedCheckout-step-backgroundColor");
  color: stencilColor("optimizedCheckout-step-textColor");

  &::before {
    color: stencilColor("optimizedCheckout-step-textColor");
  }

  svg {
    fill: currentColor;
  }
}

//
// Form Labels
// Text Color
// Styles text labels on form fields.
// -----------------------------------------------------------------------------

.optimizedCheckout-form-label {
  color: stencilColor("optimizedCheckout-contentSecondary-color");
}

//
// Form Input
// Background & Border Color
// Styles form fields.
// -----------------------------------------------------------------------------

.optimizedCheckout-form-input {
  background-color: stencilColor("optimizedCheckout-formField-backgroundColor");
  border-color: stencilColor("optimizedCheckout-formField-borderColor");
}

//
// Discount Banners
// Background & Text & Icon Color
// Styles discount banners.
// -----------------------------------------------------------------------------

.optimizedCheckout-discountBanner {
  background-color: stencilColor("optimizedCheckout-discountBanner-backgroundColor");
  color: stencilColor("optimizedCheckout-discountBanner-textColor");
  font-family: stencilFontFamily("optimizedCheckout-link-font"), Arial, Helvetica, sans-serif;
  font-weight: stencilFontWeight("optimizedCheckout-link-font");

  svg {
    fill: stencilColor("optimizedCheckout-discountBanner-iconColor");
  }
}
