body.open-cart {
	transform: translateX(-300px);
	
	.main-content {
		margin-top: 0;
	}
}

button.button.button-primary.button-mobile {
	display: none;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 9;
}

.template-product {
	background: $product-background-color !important;
	.navigation-toggle-mobile,
	.navigation-toggle-mobile:before,
	.navigation-toggle-mobile:after{
		border-color: $body-color;
	}
	.main-content {
		padding: 0 50px;
		
	}
	
	.sharing-buttons,
	.container.page-header,
	.single-product-details-block {
		display: none;
	}
	.product-slideshow-wrapper{
		max-width: 600px;
		width: 100%;
		margin-bottom: 0;
		.single-product-slideshow-image{
			padding-bottom: 100%;
			img{
				position: absolute;
				left: 0;
				right: 0;
				max-width: 480px;
				margin: auto;
			}
		}
	}
	.product-description-container{
		margin-top: 0;
	}
	.Roller{
		.fw--blocks{
			p{
				font-size: 15px;
			}
		}
	}
	
	
	.product-name {
		text-transform: none;
		margin-bottom: 20px;
		margin-top: 0px;
		font-family: $body-font;
	}
	
	.content-left {
		width: 100%;
		margin: auto;
		padding: 0 15px;
		@include breakpoint(m-only) {
			width: 100%;
		}
	}
	.product-container .content-left {
		width: 80%;
	}
	.price-value {
		font-size: 18px;
		font-weight: 600;
		color: #444444;
		font-family: 'Merriweather', Georgia, serif;
	}
	

	.product-page--excerpt {
		
		.product-meta-heading {
			margin: 0;
			font-family: $body-font;
		}
		
		p {
			font-size: 13px;
			margin: 0 0 8px;
			font-family: $meta-font;
		}
	}
	
	.product-price {
		margin-bottom: 39px;
	}
	
	.product-form-quantity,
	.single-product-wishlist-form {
		display: none;
	}
	
	.button-primary {
		background: #0e142c;
		font-size: 10px;
		width: auto;
		padding: 0 10px;
		height: 38px;
		line-height: 36px;
		border-radius: 0;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif !important;
	}
	
	.product-page--howto {
		overflow: hidden;
		background: white;
		margin-top: 15px;
	}
	
	.howto-item {
		margin-bottom: 2rem;
		&:last-child{
			margin-bottom: 44px;
			.fw--blocks{
				//.width--medium-10{
				//	text-align: left;
				//}
			}
		}
	}
	
	.spacing--2 {
		padding: 10px;
	}
	
	.fw--blocks {
		display: block;
		margin: 0 auto;
		position: relative;
		padding: 0;
		overflow: hidden;
		
		.spacing--3 {
			padding: 15px;
		}
		
		.spacing--4 {
			padding: 15px;
			
			> * {
				padding: 15px;
			}
		}
		
		> * {
			position: relative;
			float: left;
			display: block;
			margin: 0;
			width: 100%;
			min-height: 1px;
		}
		
		&.why-cbd {
			.howto-items{
				padding: 0 10px;
				.fw--blocks{
					p{
						margin: 0 0 4px;
					}
				}
			}
			.right-img {
				img {

					&.active {
						display: block;
						width: 100%;
					}
				}
			}
		}
		
		.width--medium-6 {
			width: 50%;
			
			&.right-img {
				text-align: right;
			}
			
			img {
				vertical-align: middle;
				width: 100%;
			}
		}
		
		&.spacing--5 {
			padding: 25px 25px 0 25px;
			
			> * {
				padding: 25px;
			}
		}
		
		.width--medium-11 {
			@include grid-columns(11 of 12);
			
			&.spacing--4x {
				padding: 0 30px;
			}
		}
		
		.width--medium-2 {
			@include grid-columns(2 of 12);
			padding: 0 15px;
		}
		
		.width--medium-10 {
			@include grid-columns(10 of 12);
			padding: 0;
			font-size: 12px;
		}
		
		h1 {
			font-size: 26px;
			margin-top: 16px;
			line-height: 1.25;
			letter-spacing: -0.8px;
			margin-top: 0;
			text-transform: none;
			margin-bottom: 0;
			font-family: $body-font;
		}
		
		p {
			font-size: 12px;
			font-family: $meta-font;
			margin: 0 0 15px;
		}
		
		h4 {
			font-size: 18px;
			margin: 0;
			text-transform: none;
			font-family: $body-font
		}
		
	}
	
	.dosage-block {
		padding: 40px;
		
		.block-image {
			background: url("https://cdn11.bigcommerce.com/s-udhhfdm95v/product_images/uploaded_images/lily-dosage.jpg?t=1564916765&_ga=2.219557465.1308508201.1564894927-605547308.1548593220") center center no-repeat;
			min-height: 480px;
			-webkit-background-size: cover;
			background-size: cover;
			
			.icon-emblem {
				position: absolute;
				right: -9.3%;
				top: 5%;
				width: 20%;
			}
		}
		
		.spacing--4 {
			padding: 30px;
			
			.spacing--4 {
				padding: 15px;
				
				.width--medium-10 {
					padding: 15px;
					
					p {
						margin-bottom: 10px;
						font-size: 13px;
					}
					
				}
			}
		}
	}
	
	.main-content > .Roller {
		display: none;
		
		.fw--blocks p {
			font-size: 15px;
		}
	}
}

.Roller {
	.product-page--howto,
	.product-page--dosage {
		display: none;
	}
	
	.Roller {
		display: block !important;
	}
}

.products-related-container {
	
	.product-item-price {
		display: none;
	}
	
	.layout-module {
		width: 70%;
		padding: 0;
	}
	
	.product-item-actions {
		display: none !important;
	}
	
	.slick-arrow {
		font-family: "yotpo-widget-font";
		position: absolute;
		z-index: 1;
		top: calc((100% - 68px) / 2);
		cursor: pointer;
	}
	
	.prev-button {
		left: 0;
		
		&:before {
			content: "\e613";
		}
	}
	
	.next-button {
		right: 0;
		
		&:before {
			content: "\e611";
		}
	}
	
	.product-item-link {
		max-width: 160px;
		margin: auto;
	}
	
	.section-title {
		text-transform: none;
		color: #6B6D76;
		font-weight: normal !important;
		font-size: 21px;
		font-family: $product-item-title-font-family;
	}
	
	.product-item-title {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: normal !important;
		color: $product-item-title-color;
		
		a {
			color: $product-item-title-color;
			font-size: 13px;
			font-weight: normal !important;
		}
	}
	
	.slick-slide {
		> div {
			margin: 0 14px;
		}
	}
}

@media (max-width: 767px) {
	
	.products-related-container {
		.section-title {
			text-align: center;
		}
		
		.slick-arrow {
			top: calc((100% - 48px) / 2);
		}
	}
	.template-product {
		button.button.button-primary.button-mobile {
			display: none;
		}
		
		.main-content {
			padding: 0;
			margin-top: 40px!important;
		}
		
		.single-product-slideshow-image {
			width: 100%;
		}
		
		.content-left {
			text-align: center;
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 0;
		}
		
		.product-page--excerpt {
			text-align: center;
		}
		
		.product-name {
			font-size: 16px;
		}
		.lily-cbd-150mg-travel-size, .lily-cbd-500mg, .lily-cbd-1000mg, .lily-cbd-1500mg, .the-feel-alive-tote-bag{
			.product-name {
				font-size: 22px;
			}
		}
		.product-description-container {
			order: 1;
			margin-top: 0;
		}
		
		.product-meta-heading {
			font-size: 12px;
		}
		.lily-cbd-topical-roller, .wonder-valley-x-lily-cbd-olive-oil-100ml, .wonder-valley-x-lily-cbd-olive-oil-240ml{
			.product-meta-heading {
				font-size: 18px;
			}
			#tab-warranty p{
				font-size: 15px;
			}
			.single-product-left{
				width: 80%;
				padding: 0;
			}
		}
		.Roller .fw--blocks .fw--blocks.spacing--4.spacing--medium-6.clear-after--4{
			padding: 5px;
		}
		.product-page--excerpt p {
			font-size: 12px;
			color: #444;
		}
		
		form {
			order: 0;
			margin-bottom: 0px;

			.product-add-to-cart{
				margin-top: 0px;
			}
		}
		
		.fw--blocks {
			p {
				font-size: 13px;
			}
			
			.width--medium-6,
			.width--medium-2,
			.width--medium-10 {
				width: 100%;
			}
			
			.width--medium-11 {
				width: 100%;
				text-align: center;
			}
			
			.width--medium-2 {
				img {
					width: 35%;
				}
			}
			
			.width--medium-11.spacing--4x {
				padding: 0 5px;
			}
			
			&.spacing--5 {
				padding: 15px;
				
				> * {
					padding: 0
				}
			}
			
			&.spacing--small-4 > * {
				padding: 15px;
			}
			
			.spacing--3 {
				padding-bottom: 0;
				margin-bottom: 0;
			}
			
			.width--12 {
				text-align: center;
			}
			
			h1 {
				margin-bottom: 0;
			}
			
			h4 {
				padding-bottom: 0.5rem;
			}
		}
		
		.howto-item {
			margin-bottom: 0;
			.alway-consult{
				text-align: left;
			}
		}
		
		.dosage-block {
			padding: 0;
			
			.spacing--4 {
				padding: 5px;
				
				.spacing--4 .width--medium-10 p {
					font-size: 13px;
				}
			}
			
			.block-image .icon-emblem {
				right: 5.7%;
				top: 10%;
				width: 25%;
			}
			
		}
	}
}

.Olive-oil{
	.product-meta-heading{
		font-weight: bold;
		font-family: 'GT Walsheim Pro' !important;
		text-transform: uppercase;
		font-size: 14px;
		margin-bottom: 0;
	}
	.ingredient{
		margin-bottom:20px;
	}
	p{
		font-size: 13px;
		margin-bottom: 1rem;
	}
	@media(max-width: 768px){
		.product-meta-heading{
			font-size: 18px;
		}
	}
}
.Oilvier{
		h1{
			font-size: 26px;
			text-align: left;
		}
}

@media (min-width: 1025px){
	.template-product .fw--blocks .width--medium-6 img{
		width: auto;
	}
}