.template-page{
  .page-header{
    display:none;
  }
}

.main-content.Contact{
  margin-top: 125px;

  .text-description{
    a{
      font-size: 18px;
    }
  }

  @media (max-width: 992px) {
    margin-top: 82px;
  }
}


.template-page_contact_form {
  .text-contact{
    display:none!important;
  }
}
.template-page_contact_form , .whole-page{
  .form-input {
    border-color: #eaeaea;
    background: unset;
  }
}
.template-page_contact_form, .whole-page  {

  .page-header {
    border: none;
    padding-bottom: 0;
  }

  .page-container{
    padding-top: 10px;
  }
  //.main-header .header-navigation-site .navPages-list .navPages-item .navPages-action{
  //  color:black;
  //}
  .page-title-breadcrumbs {
    display: none;
  }
  .full-width-field{
    margin-bottom: 30px!important;
  }
  input:focus , textarea:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
  .table-clean {
    padding-left: 30px;
    padding-bottom: 20px;
    table{
      border:none;
      border-bottom: 1px solid  #eaeaea;
      border-top: 1px solid #eaeaea;
    }
    p{
      font-size:15px;
      font-family: 'GT Walsheim Pro';
    }
  }

  .border-table {
    max-width: 250px;
  }

  .whole-sale {
    h6 {
      font-size: 18px;
      text-transform: unset;
      margin: 15px 0px;
      color: #444444;
    }

    .text-description {
      font-size: 12px;
    }

    strong {
      a {
        color: #cd792b;
      }
    }
  }

  .page-title {
    color: #cd792b;
    text-align: center;
    width: 100%;
    text-transform: unset;
    font-size: 28px;
  }

  .text-contact {
    display: block;
    color: #cd792b;
    font-family: 'Perpetua MT' !important;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .layout-module {
    max-width: 100%;
    padding: 0px 65px;
  }

  .page-content-sidebar {
    display: none;
  }

  .page-content-text {
    right: 0;
    width: 100%;
    padding-right: 0;
  }

  .contact-page-form {
    padding: 50px 50px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 3px;

    .feel-free {
      text-transform: unset;
      color: #444444;
      padding-top: 30px;
      font-size:28px;
      padding-bottom: 20px;
      font-family: 'Perpetua MT' !important;
    }

    .button-primary {
      padding: 0 15px;
      font-size: 10px;
      height: 38px;
      letter-spacing: 0;
      text-transform: uppercase;
      background: #0e142c;
      color: #fff;
    }
    .form-label{
      margin-bottom: 30px;
    }
    .form-field-title {
      font-family: 'Lato', Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      color: #444444;
    }
    .form-field {
      width: 100%;
      padding: 0;
      margin-bottom: 0;


      .form-input {
        padding: 8px;
      }
    }
  }

}

.template-page_contact_form .contact-page-form .feel-free{
  font-size:28px;
  margin-bottom: 0;
}
.template-page_contact_form{

  .page-container{
    padding-top:50px;
  }

  @media (max-width: 992px) {
    .page-container{
      padding-top: 10px;
    }
  }
}

.press-page {
  h2{
    color: #cd792b;
    font-size: 28px;
    text-align: center;
    text-transform: unset;
    @media (max-width: 767px) {
      font-size: 22px;
      margin-top: 25px;
    }
  }
  .rte-content {
    h3 {
      margin: 0 0 18px;
      font-family: 'Perpetua MT' !important;
      font-size: 18px;
      color: #444444;
      line-height: 1.11111111;

      a{
        font-weight: 700 !important;
      }
    }
    a{
      color: #cd792b;
      font-weight: 400 !important;
    }
  }


  .page-cms-content{
    margin: 0;
    max-width: 100%;
  }
  .layout-module{
    max-width: 100%;
    padding:0 60px;
  }
}
.contact-page-success-form{
  font-size: 15px;
  font-family: 'GT Walsheim Pro';
}

@media (min-width: 1024px) {
  .press-page .layout-module{
    padding: 0 50px;
    padding-left: 65px;
  }
  .template-page_contact_form {
    .feel-free {
      font-size: 28px;
      line-height: 1.25;
    }
  }

}
@media(max-width: 768px){
  .template-page .page-press{
    margin-top: 80px;
  }
  .template-product .dosage-block{
    padding: 0;
    .width--medium-6 img{
      right: 5.7%;
      top: 10%;
      width: 25% !important;
    }
    h1{
      margin-top: 40px;
    }
  }
  .template-product .product-page--howto{
    h1{
      margin-top: 33px;
      letter-spacing: 1px;
    }
  }
}


@media (max-width: 767px) {

  .template--page {
    .layout--main-content {
      padding: 0;
    }
  }
  .press-page{
    padding:0px;
    .layout-module{
      max-width: 100%;
      padding:0;
    }
  }
  .whole-page {
    .layout-module {
      padding: 0;
    }
    .text-contact{
      font-size:22px;
      margin-bottom: 43px;
    }
  }
  .template-page_contact_form ,.whole-page  {
    .page-container {
      padding-top: 20px;
    }

    .page-title {
      font-size: 22px;
    }

    .layout-module {
      padding: 0;
    }

    .table-clean {
      h6 {
        //font-size: 13px;
      }
    }

    .border-table {
      //max-width: 50%;
      padding: 15px;
    }
    tr{
      .border-table:nth-child(1){
        width: 249.375px;
      }
      .border-table:nth-child(2){
        width: 260.486px;
      }
    }
    .contact-page-form {
      margin: 0;
      padding: 15px;

      .feel-free {
        padding-bottom: 15px;
        font-size: 22px;
        margin-bottom: 0;
      }
      .full-width-field{
        margin-bottom: 40px!important;
      }
    }

  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .template-page_contact_form .contact-page-form .feel-free,.whole-page  .contact-page-form .feel-free{
    font-size:24px;
    line-height: 1.25;
  }
}
.page-press{
  padding-top: 0;
  margin-top: -35px;
  .page-cms-content{
    max-width:100%;
  }
  .layout-module{
    max-width:100%;

  }
}
@media (min-width: 768px){
  .page-press{
    .layout-module{
      max-width:100%;
      padding:0 65px
    }
  }
}
.account-mobile{
  padding-left: 10px;
}
.navPages-container-mobile{
  .search-overlay-input::placeholder {
    color: #444444;
    font-size: 12px;
    font-weight: normal;
    font-family: 'Lato' !important;
  }

  .search-overlay-input{
    padding:22px 39px 12px 22px;
    text-transform: unset;
    color: #444444;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
  }
  .search-overlay-form{
    position: inherit;
    transform: unset;
    border-bottom: 1px solid #eaeaea;
    padding: 0 10px 15px;
    .search--icon{
      position: absolute;
      top: 19px;
      .fw--icon--search{
        width: 15px;
        height: 13px;
      }
    }
    .search-overlay-close{
      padding: 0;
    }
  }
  .search--feedback{
    font-family: 'Lato', Helvetica, Arial, sans-serif;
  }
  .navPages-list .navPages-action{
    p{
      margin: 0px;
    }
  }
  .navPages-action .cart-quantity{
    top: 4px;
    left: 31px;
  }
}

//category page
.template-category .product-grids{
  max-width: 1200px;
  margin: auto;
}
@media(min-width: 851px) {
  .template-product .single-product-left {
    width: 50%;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px){
  .template-product .product-page--howto{
    .fw--blocks .width--medium-6{
      width: 100%;
    }

  }


}
.template-product .fw--blocks .width--medium-10 small{
  font-family: 'Merriweather', Georgia, serif;
}
#tab-warranty{
  .feel-alive{
    p{
      margin: 0 0 13px;
    }
  }
  p{
    font-size: 13px;
    margin: 0 0 25px;
    font-family: "GT Walsheim Pro";
    max-width: 80%;
  }
  h3{
    text-transform: unset;
    font-size: 18px;
  }
}
.show{
  display: block!important;
}
.hide{
  display: none!important;
}
.template-search{
  @media (max-width: 767px) {
    .search-container {
      padding: 0  15px;
    }
  }


  .search-results-product{
    .product-grid-container{
      display: flex;
      flex-wrap: wrap;
      height: auto!important;
      max-width: 1200px;
      margin: auto;
      width: 100%;
      .product-item{
        position: relative;
        width: calc(100% / 3);
        margin-bottom: 65px;
        padding-left: 30px;
        padding-right: 30px;
        @media (max-width: 767px) {
          width: 100%;
          padding: 0;
        }
      }
      .product-item-thumbnail{
        @media (max-width: 767px) {
          img{
            width: 100%;
          }
        }
      }
      .product-item-details{
        padding: 0 5.558%;
        text-align: center;
        margin-top: 10px;
        @media (max-width: 767px) {
          a{
            font-size: 14px;
            color: #444444;
          }
        }
        .product-item-title{
          display: inline-block;
          margin: 0;
          padding: 0 5px;
        }
      }
      .product-item-price{
        display: inline-block;
        margin: 0;
        padding: 0 5px;
        font-family: "Lato", Helvetica, Arial, sans-serif !important;
        @media (max-width: 767px) {
          font-size: 10px;
        }
      }
    }
  }
}
.product-page--dosage {
  .block-image{
    img{
      position: absolute;
      right: -9.3%;
      top: 5%;
      width: 20%!important;
    }
  }
}
// Review

.template-product{
  .yotpo-small-box {
    display:none;
  }
  .yotpo .yotpo-regular-box{
    border:none;
  }
  .yotpo-display-wrapper{
    width: 70%;
    margin: auto!important;
    @media (max-width:767px){
      width: 100%;
      padding:0 15px!important;
    }
    .yotpo-icon-default-star:before, .yotpo-icon-star:before{
      content: "\e60e";
    }
  }
  .yotpo .yotpo-icon-default-empty-star:before, .yotpo .yotpo-icon-empty-star:before {
    content: "\e61b";
  }
  .yotpo .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-bottomline .yotpo-icon-empty-star{
    color: #6e2333!important;
  }
  .yotpo .write-review .yotpo-header .yotpo-icon{
    color: #6e2333;

  }
  .yotpo .yotpo-first-review .yotpo-first-review-stars .yotpo-icon-star{
    color: #6e2333!important;
  }
  .yotpo .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-icon, .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-icon{
    color: #6e2333;
  }
  .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper {
    border-color: #00008b !important;
  }
  .yotpo .text-m, .yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active span {
    color: #652834 !important;
  }
  .yotpo .yotpo-review .yotpo-header .yotpo-icon-profile, .yotpo .yotpo-comment .yotpo-header .yotpo-icon-profile, .yotpo .yotpo-question .yotpo-header .yotpo-icon-profile, .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-icon-profile{
    background: #a87b85;
  }
  .yotpo .primary-color-btn.yotpo-disabled, .yotpo input[type="button"].primary-color-btn.yotpo-disabled {
    background: #c5a7ad;
    color: #fff;
  }
  .yotpo .yotpo-review .yotpo-header.yotpo-verified-user .yotpo-icon-circle-checkmark{
    color: #1cc286;
  }
}


.template-product .product-container .content-left .standalone-bottomline .yotpo-bottomline{
  display:flex;
}

.template-product .yotpo .text-m {
  display: block;
  text-align: center;
}
@media (max-width:767px){
  .template-product .standalone-bottomline{
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .template-product .yotpo-main-widget {
    width:100%;
  }
  .products-related-container .layout-module {
    width: 90%;
    padding: 0;
  }
  .products-related-container .bottomLine.yotpo-small{
    margin-top:-25px;
  }
}
.product-preorder{
  max-width: 89px;
  z-index: 999;
}

.template-category  .bottomLine {
  display:none;
}
#tab-warranty .product-page--excerpt p{
  max-width: 100%;
}
.product-options {
  .form-select-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .form-field-title{
    display: none;
  }
}
.nav-color{
    background:#f9f2e9;
}
.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS .ql-editor p {
  text-align:left!important;
  font-family: 'GT Walsheim Pro'!important;
}
.footer-content .fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS .ql-editor p span{

  font-family: 'GT Walsheim Pro';
}

input.TextInput__FormStyledTextInput-sc-1o6de9f-0.fnndhT.ResetElements__Input-sc-8e6zl9-7.needsclick.TextInput__FormStyledTextInput-sc-1o6de9f-0.fnndhT.bqQGYX {
  padding-left: 0;
  border: none;
  background: no-repeat;
  border-bottom: 1px solid gainsboro;
  outline: none;
}
input.TextInput__FormStyledTextInput-sc-1o6de9f-0.fnndhT.ResetElements__Input-sc-8e6zl9-7.needsclick.TextInput__FormStyledTextInput-sc-1o6de9f-0.fnndhT.bqQGYX::placeholder  {
  font-family: 'Perpetua MT'!important;
}
button.ResetElements__Button-sc-8e6zl9-2.Button__FormStyledButton-p2mbjt-0.needsclick.undefined.RGLbo{
  display:none;
}
.ResetElements__Div-sc-8e6zl9-0.FormComponent__StyledFormComponentWrapper-e0xun6-0.needsclick.undefined.kwGIvD {
  padding: 5px 5px;
}
.form-field-rectangle .rectangle-text {
  height: 20px;
  border-radius: 50%;
  width: 20px;
  min-width: 20px;
  margin-bottom: 0;
  margin-right: 10px;
}
.form-field-rectangle .rectangle {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
}
.form-field-rectangle .skip-cancel{
  font-size: 10px;
  margin-top: -9px;
  font-family: "Perpetua MT"!important;
}
.form-field-rectangle .rectangle p{
  font-size: 1rem;
  margin: 0;
  font-family: "Perpetua MT"!important;
}

.form-field-rectangle .rectangle span {
  display: inline-block;
}

