
<div class="form-field-common form-field-password {{#if required}} form-required{{/if}}" id="{{id}}">
  <label class="form-label">
    <span class="form-field-title">
      {{label}}
      {{#if required}}<span class="required-text hide-for-all">{{lang 'common.required'}}</span>{{/if}}
    </span>
    <span class="form-field-control">
      <input class="form-input"
        id="password-{{id}}"
        name="{{name}}"
        type="password"
        placeholder="{{prefill}}"
        {{#if value}}value="{{value}}"{{/if}}
        {{#if private_id}}data-field-type="{{private_id}}"{{/if}}
        {{#if required}}required{{/if}}
        {{#if value_match}}
          data-validates="equalTo[{{value_match}}]"
          data-vd-message-equalTo="{{lang 'core.forms.passwords_no_match'}}"
        {{/if}}
        {{#if min_length}}
          data-validates="minLength[{{min_length}}]"
          data-vd-message-minLength="{{lang 'core.forms.password_length' min_length=min_length}}"
        {{/if}}
        aria-required="{{required}}">
    </span>
  </label>
</div>
