
{{#if cart.items.length}}
<div class="content fw--blocks spacing--2y" data-id="{{id}}" data-qty="{{quantity}}" data-cart-content data-item-row>
    {{#each cart.items}}
      {{> components/cart/cart-item this}}
    {{/each}}
  <div class="text-align--center text-align--large-right">
      <!--<input type="submit" name="update" class="button font&#45;&#45;accent" value="{{lang 'cart.update_cart'}}" onClick="document.cartForm.submit()">-->
    <div class="update-qty-product-cart">
      <a id="update-cart-reload" class="button button--primary" href="javascript:void(0)">Update Cart</a>
    </div>
  </div>
  <div class="totals width--12 text-align--center ">
    <div class="width--12 width--large-8 block"></div>
    <div class="block spacing--3y width--12 width--large-4 font--size-3 text--bold text-align--large-right text--uppercase" data-cart-totals>
    <span class="spacing--3 subtotal-title text--bold">
      {{lang 'cart.subtotal'}}
    </span>
      <span class="total spacing--3 money text--bold">
      {{cart.sub_total.formatted}}
    </span>
    </div>

  </div>
</div>
<div class="fw--blocks">
  <div class="order-notes width--large-6 text-align--center">

    <p class="text-align--center text-align--large-left leave-note">Leave a note with your order</p>
    <textarea name="note"></textarea>
    <div class="spacer spacing--4y show-for-small-medium"></div>

  </div>

  <div class="width--large-6">
    <p class="text-align--center text-align--large-right ship-cal">Shipping &amp; taxes calculated at checkout</p>
    <!--<p class="text-align&#45;&#45;center text-align&#45;&#45;large-right ship-cal">If you will be paying with AMEX, please call <a href="tel:201-477-0320" target="_blank" rel="noopener">(201) 477-0320</a></p>-->
    <div class="spacer spacing--2y"></div>

    <div class="fw--blocks spacing--3 compact--3x list text-align--center text-align--large-right buy-checked">
      <div><a class="continue-shopping text--underline text--uppercase continue-shop" href="/shop/" target="_self">{{lang 'cart.continure_shoping'}}</a></div>
      <div>
        <button class="button font--accent checkout-button">
          <a href="{{urls.checkout.single_address}}">
            {{lang 'cart.checkout'}}  </a>
        </button>
        {{#if cart.show_multiple_address_shipping}}
        <a class="checkout-multiple button font--accent checkout-button" href="{{urls.checkout.multiple_address}}">
          {{lang 'cart.checkout_multiple'}}
        </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{else}}
  {{lang 'cart.empty'}}
{{/if}}

{{{snippet 'cart'}}}

