<div class="width--12 cart-item-quantity">
  <div class="width--12 width--medium-4 width--large-6 block">
      <span class="image block width--4 width--medium-12 width--large-4 spacing--3 image-mobile">
      {{#if url}}
        <a class="cart-item-product-title" href="{{url}}" target="_self">
          <img src="{{getImage image '800x400'}}" alt="{{name}}">
        </a>
      {{else}}
        {{#if edit_url}}
          <a class="cart-item-product-title" href="{{edit_url}}" target="_self">
            <img src="{{getImage image '800x400'}}" alt="{{name}}">
          </a>
        {{else}}
          <span class="cart-item-product-title no-link" target="_self"></span>
        {{/if}}
      {{/if}}
      </span>

    <span class="title block width--8 spacing--3 font--size-4 show--small show--large">
      {{#if url}}
        <a class="cart-item-product-title" href="{{url}}" target="_self">{{name}}</a>
            <div class="product-options-summary">
        {{#or options configurable_fields}}
          <dl class="cart-item-details-block">
            {{#each configurable_fields}}
              <dt class="cart-item-details-name cart-item-label">{{name}}:</dt>
              <dd class="cart-item-details-value">
                {{#if is_file}}
                  <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                {{else}}
                  {{{value}}}
                {{/if}}
              </dd>
            {{/each}}

            {{#each options}}
              <dt class="cart-item-details-name cart-item-label">{{name}}:</dt>
              <dd class="cart-item-details-value">
                {{#if is_file}}
                  <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                {{else}}
                  {{{value}}}
                {{/if}}
              </dd>
            {{/each}}
          </dl>
        {{/or}}
      </div>
      {{else}}
        {{#if edit_url}}
          <a class="cart-item-product-title" href="{{edit_url}}" target="_self">{{name}}</a>
            <div class="product-options-summary">
        {{#or options configurable_fields}}
          <dl class="cart-item-details-block">
            {{#each configurable_fields}}
              <dt class="cart-item-details-name cart-item-label">{{name}}:</dt>
              <dd class="cart-item-details-value">
                {{#if is_file}}
                  <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                {{else}}
                  {{{value}}}
                {{/if}}
              </dd>
            {{/each}}

            {{#each options}}
              <dt class="cart-item-details-name cart-item-label">{{name}}:</dt>
              <dd class="cart-item-details-value">
                {{#if is_file}}
                  <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                {{else}}
                  {{{value}}}
                {{/if}}
              </dd>
            {{/each}}
          </dl>
        {{/or}}
      </div>
        {{else}}
          <span class="cart-item-product-title no-link" target="_self">{{name}}</span>
        {{/if}}
      {{/if}}

      </span>
  </div>
  {{#if type "!==" "GiftCertificate"}}
  <div class="right-column width--12 width--medium-8 width--large-6 block spacing--3y text-align--left text-align--large-right">
      <span class="title block width--12 spacing--3 font--size-4 show--medium text-align--left mobile-title">
                 {{#if url}}
        <a class="cart-item-product-title" href="{{url}}" target="_self">{{name}}</a>
      {{else}}
        {{#if edit_url}}
          <a class="cart-item-product-title" href="{{edit_url}}" target="_self">{{name}}</a>
        {{else}}
          <span class="cart-item-product-title no-link" target="_self">{{name}}</span>
        {{/if}}
      {{/if}}
                  </span>
    <span class="price spacing--3 font--size-3 money {{#if price_discounted}}cart-item-price-discounted{{/if}}">
          {{price.formatted}}
        </span>
    {{#if price_discounted}}
    <span class="price spacing--3 font--size-3 money cart-item-price-discount">{{price_discounted.formatted}}</span>
    {{/if}}
    <span class="quantity spacing--3">
          {{#if type "!==" "GiftCertificate"}}
            <button class="cart-item-action hide-for-all" data-cart-update data-item-id="{{id}}" data-action="increase">
            <i class="icon-increase" aria-hidden="true"></i>
            <span class="sr-only">{{lang 'cart.product.increase'}}</span>
          </button>
          {{/if}}
          <div class="input--number">
            <input class="form-input--incrementTotal" id="qty-{{id}}" data-card="{{id}}" name="qty-{{id}}" value="{{quantity}}" aria-live="polite">
          </div>
          {{#if type "!==" "GiftCertificate"}}
            <button class="cart-item-action hide-for-all" data-cart-update data-item-id="{{id}}" data-action="decrease">
            <i class="icon-decrease" aria-hidden="true"></i>
            <span class="sr-only">{{lang 'cart.product.decrease'}}</span>
          </button>
          {{/if}}
        </span>

    <span class="remove spacing--3 cart-item-remove" data-item-id="{{id}}">
          <i class="far fa fa-times-circle" aria-hidden="true"></i>
          <span class="sr-only">{{lang 'cart.product.remove'}}</span>
        </span>

  </div>
  {{/if}}
</div>

<div class="hide-for-all cart-item-top">
  <div class="cart-item-image" {{#if image}}style="background-image: url({{getImage image '800x400'}})" {{/if}}>
  <span class="sr-only">{{name}}</span>
</div>
</div>
<button class="hide-for-all cart-item-remove cart-item-action" data-item-id="{{id}}">
  <i class="icon-remove" aria-hidden="true"></i>
  <span class="sr-only">{{lang 'cart.product.remove'}}</span>
</button>
<div class="hide-for-all cart-item-actions">
  {{#if type "!==" "GiftCertificate"}}
  <button class="cart-item-action" data-cart-update data-item-id="{{id}}" data-action="increase">
    <i class="icon-increase" aria-hidden="true"></i>
    <span class="sr-only">{{lang 'cart.product.increase'}}</span>
  </button>
  {{/if}}

  <input class="cart-item-action quantity-input" id="qty-{{id}}" name="qty-{{id}}" value="{{quantity}}"
         aria-live="polite"/>

  {{#if type "!==" "GiftCertificate"}}
  <button class="cart-item-action" data-cart-update data-item-id="{{id}}" data-action="decrease">
    <i class="icon-decrease" aria-hidden="true"></i>
    <span class="sr-only">{{lang 'cart.product.decrease'}}</span>
  </button>
  {{/if}}
</div>
<div class="hide-for-all cart-item-content">
  <h3 class="cart-item-product-name">
    {{#if url}}
    <a class="cart-item-product-title" href="{{url}}">{{name}}</a>
    {{else}}
    {{#if edit_url}}
    <a class="cart-item-product-title" href="{{edit_url}}">{{name}}</a>
    {{else}}
    <span class="cart-item-product-title no-link">{{name}}</span>
    {{/if}}
    {{/if}}
  </h3>
  {{#if type "!==" "GiftCertificate"}}
  <div class="cart-item-single-price">
        <span class="{{#if price_discounted}}cart-item-price-discounted{{/if}}">
          {{price.formatted}}
        </span>
    {{#if price_discounted}}
    <span class="cart-item-price-discount">{{price_discounted.formatted}}</span>
    {{/if}}
  </div>
  {{/if}}
  <div class="cart-item-meta">
    {{#if type "===" "GiftCertificate"}}
    <a class="button button-primary button-small cart-item-gift-certificate-edit" href="{{edit_url}}">
      {{lang 'cart.gift_certificates.edit_before_purchase'}}
    </a>
    {{/if}}

    <div class="product-options-summary">
      {{#or options configurable_fields}}
      <dl class="cart-item-details-block">
        {{#each configurable_fields}}
        <dt class="cart-item-details-name cart-item-label">{{name}}:</dt>
        <dd class="cart-item-details-value">
          {{#if is_file}}
          <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
          {{else}}
          {{{value}}}
          {{/if}}
        </dd>
        {{/each}}

        {{#each options}}
        <dt class="cart-item-details-name cart-item-label">{{name}}:</dt>
        <dd class="cart-item-details-value">
          {{#if is_file}}
          <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
          {{else}}
          {{{value}}}
          {{/if}}
        </dd>
        {{/each}}
      </dl>
      {{/or}}
    </div>
  </div>

  {{#or options configurable_fields}}
  <button
          class="cart-item-edit-button"
          data-item-edit="{{id}}"
  >
    {{lang 'cart.change_options'}}
  </button>
  {{/or}}

  {{> components/cart/gift-wrap/gift-wrap-item}}

  <span class="cart-item-price-block">
      <span class="{{#if total_discounted}}cart-item-price-discounted{{/if}}">
        {{total.formatted}}
      </span>
      {{#if total_discounted}}
        <span class="cart-item-price-discount">{{total_discounted.formatted}}</span>
      {{/if}}
    </span>
</div>

