<div class="quick-cart-item" data-id="{{id}}" data-qty="{{quantity}}" data-item-row>

    <div class="quick-cart-item-info">
        <div class="quick-cart-image-column {{#if type "===" "GiftCertificate"}}type-gift-certificate{{/if}}">
        <a class="quick-cart-image" href="{{url}}"><img src="{{getImage image '130x130' (cdn default_image)}}" alt="{{name}}"></a>
        <h5 class="quick-cart-product-name"><a href="{{url}}">{{name}}</a></h5>
    </div>

    <div class="quick-cart-content-column {{#if type "===" "GiftCertificate"}}type-giftcertificate{{/if}}">
        <h5 class="quick-cart-product-name-mobile"><a href="{{url}}">{{name}}</a></h5>

        <div class="content-item-mini-cart">
        <span class="price-item">
            {{price.formatted}}
        </span>

        {{#if type "!==" "GiftCertificate"}}
        <div class="quick-cart-item-actions">

            <button class="quick-cart-item-action" data-quick-cart-update data-item-id="{{id}}" data-action="decrease">
                <svg id="fw--icon--minus" viewBox="0 0 32 32">
                    <path d="M31 13.5H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h30a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>
                </svg>
            </button>
            <input class="quick-cart-quantity-overlay" data-value="{{quantity}}" value="{{quantity}}" aria-live="polite" id="quick-cart-qty-{{id}}"/>
            <button class="quick-cart-item-action" data-quick-cart-update data-item-id="{{id}}" data-action="increase">
                <svg id="fw--icon--plus" viewBox="0 0 32 32">
                    <path d="M31 13.5H18.5V1a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v12.5H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h12.5V31a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1V18.5H31a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"></path>
                </svg>
            </button>
        </div>
        {{/if}}

        <span class="remove-product cart-item-remove" data-item-id="{{id}}">
            <svg id="fw--icon--cross-circle" viewBox="0 0 32 32">
                <path d="M15.795.001C6.997.114-.111 7.405.001 16.205c.112 8.799 7.404 15.907 16.203 15.794 8.799-.112 15.907-7.404 15.793-16.203C31.887 6.997 24.595-.111 15.795.001zm6.066 23.925l-5.833-5.685-5.686 5.832-2.269-2.212 5.686-5.832-5.833-5.687 2.211-2.268 5.833 5.686 5.686-5.833 2.269 2.211-5.686 5.833 5.832 5.686-2.21 2.269z"></path>
            </svg>
        </span>
</div>
        </div>
    </div>
</div>