<div class="quick-cart-content-area">

    {{#if cart.items.length}}

    {{#each cart.items}}
    {{> components/cart/quick-cart-item this default_image=../theme_settings.default_image}}
    {{/each}}

    {{else}}

    <div class="empty-cart">Your cart is currently empty. <a href="/">Click here</a> to continue shopping.</div>

    {{/if}}
</div>
