<div id="quick-cart" class="quick-cart{{#unless cart.items.length}} empty{{/unless}}" data-count="{{cart.quantity}}">

  <div class="quick-cart-content" data-quick-cart-content>
    {{> components/cart/quick-cart-content this}}
  </div>

  <div class="quick-cart-totals" data-quick-cart-totals>
    {{> components/cart/quick-cart-totals this}}
  </div>

</div>
