
{{#if cart.items.length}}
  <div class="quick-cart-footer">

    <div class="quick-cart-subtotal">
      <div class="label">{{lang 'cart.subtotal'}}</div>
      <div class="total">{{cart.sub_total.formatted}}</div>
    </div>

    <div class="infor-mini-cart">
      <div class="infor-text">
        <p class="text-align--center text-align--large-left">Leave a note with your order</p>
        <textarea name="note"></textarea>
      </div>
      <div class="quick-cart-actions">

        <div class="text-shipping">
          <p>Shipping & taxes calculated at checkout</p>

          <!--<p>If you will be paying with AMEX, please call <a href="tel:201-477-0320" target="_blank" rel="noopener">(201) 477-0320</a></p>-->
        </div>

        <div class="continue_shopping">
          <a class="" href="/shop">Continue Shopping</a>
        </div>

        <div class="checkout-mini-cart">
          <button class="button font--accent checkout-button">
            <a href="{{urls.checkout.single_address}}">
              {{lang 'cart.checkout'}}  </a>
          </button>
        </div>

        <!--<a href="{{urls.cart}}" class="button button-secondary button-wide view-cart-button">-->
          <!--{{lang 'account_general.minicart_edit_cart'}}-->
        <!--</a>-->


        <!--{{#if cart.show_multiple_address_shipping}}-->
        <!--<a class="checkout-multiple" href="{{urls.checkout.multiple_address}}">-->
          <!--{{lang 'cart.checkout_multiple'}}-->
        <!--</a>-->
        <!--{{/if}}-->
      </div>
    </div>



  </div>
{{/if}}
