{{#partial "page"}}
{{{stylesheet '/assets/css/account.css'}}}

<div class="layout--main-content">
  <div class="account-content page-wrapper spacing--5 panel">
      {{> core/auth/create-account}}
    </div>
  </div>

{{/partial}}

{{> layout/base}}
