{{#partial "page"}}
{{{stylesheet '/assets/css/account.css'}}}
<div class="layout--main-content">
  <div class="account-content page-wrapper spacing--5 panel">
      {{> core/auth/forgot-password}}
  </div>
</div>
{{/partial}}

{{> layout/base}}
