<!DOCTYPE html>
<html>
  <head>
    <title>{{head.title}}</title>
    {{{head.meta_tags}}}
    {{{head.config}}}

    <link href="{{head.favicon}}" rel="shortcut icon">

    {{{checkout.checkout_head}}}
    {{{stylesheet '/assets/css/optimized-checkout.css'}}}
    {{getFontsCollection}}

    <script type="text/javascript">
        window.language = {{{langJson 'optimized_checkout'}}};
    </script>

    {{{head.scripts}}}
  </head>

  <body>
    <header class="checkoutHeader optimizedCheckout-header">
      <div class="checkoutHeader-content">
        <h1 class="is-srOnly">{{lang 'checkout.title'}}</h1>
        <h2 class="checkoutHeader-heading" align="center">
          <a class="checkoutHeader-link" href="{{urls.home}}">
            {{#if checkout.header_image}}
              <img style="width: 62px; height: 167px; padding-top: 12px; padding-bottom: 12px;" alt="{{settings.store_logo.title}}" class="checkoutHeader-logo" id="logoImage" src="https://cdn11.bigcommerce.com/s-udhhfdm95v/product_images/uploaded_images/1559746418375-lilylogoblack.png?t=1565426620&_ga=2.45971428.1598511466.1565426613-1720658180.1565426613"/>
            {{else}}
              <span class="header-logo-text">{{settings.store_logo.title}}</span>
            {{/if}}
          </a>
        </h2>
      </div>
    </header>

    {{{checkout.checkout_content}}}

    {{{footer.scripts}}}

  </body>

</html>
