<div class="block-product-shop-now">
    <div class="content-shop-now">
        <div class="content-img-shop-now">
            <div class="sub-content-img">
                <img src="https://cdn11.bigcommerce.com/s-6i1pn5vnjh/product_images/uploaded_images/olive-oild-bannerv5-1440x.jpg?t=1564046333&_ga=2.251413454.958115856.1563966740-605547308.1548593220">
            </div>
        </div>
        <div class="content-text-shop-now">
            <div class="featured-content--text-container">
                <h2>Wonder Valley x Lily CBD</h2>
                <p>A Limited Batch Olive Oil</p>
                <div class="link-shop-now">
                    <a href="/wonder-valley-x-lily-cbd-olive-oil/">shop now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-img-homepage">
    <div class="content-img">
        <img src="https://cdn11.bigcommerce.com/s-6i1pn5vnjh/product_images/uploaded_images/5-section-5-1440x.jpg?t=1564047365&_ga=2.251382734.958115856.1563966740-605547308.1548593220">
    </div>
</div>