<div class="block-featured-homepage">
    <div class="featured-title">
        <h2 class="heading-featured">You deserve an alternative to conventional ways of calming and nurturing the mind and body. Allow our hemp-based CBD oil, crafted with integrity, as a way to help you feel alive.</h2>
    </div>
    <div class="featured-content">
        <div class="featured-content-text">
            <div class="sub-content-img">
                <div class="image-container">
                    <img src="https://cdn11.bigcommerce.com/s-udhhfdm95v/product_images/uploaded_images/2-about-1440x.jpg?t=1565841844&_ga=2.207024026.82469673.1565840515-1454440453.1565840515">
                </div>
            </div>
        </div>
        <div class="featured-content-img">
            <div class="featured-content-text-container">
                <h2>A CBD with Integrity</h2>
                <p>Having developed Lily CBD Oil, farmed with organic practice on beautiful rolling green farms just 100 miles outside of New York, is something we are extremely proud of
                    - we offer you hemp-based CBD that can help provide you a wide variety of medicinal and therapeutic benefits.</p>
                <div class="link-more">
                    <a href="/about-cbd/">learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>

