<footer class="main-footer">

  <div class="container footer-interactions">
    <div class="layout-module">
      {{#if social_media}}
        <div class="footer-social-media footer-navigation-list-item">
          <ul>
            {{#each social_media}}
            <li class="footer-icons">
              {{#compare display_name 'google+' operator='==='}}
                <a href="{{url}}" class="google">
                  <i class="icon-google"></i>
                </a>
              {{else}}
                <a href="{{url}}" class="{{display_name}}">
                  <i class="icon-{{display_name}}"></i>
                </a>
              {{/compare}}
            </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="nav-page">
      <ul class="navPages-list">
        <li class="navPages-item"><a href="/about-cbd/">About</a></li>
        <li class="navPages-item"><a href="/faq/">FAQ</a></li>
        <li class="navPages-item"><a href="/delivery-returns/">Delivery & Returns</a></li>
        <li class="navPages-item"><a href="/terms-of-service/">Terms and Conditions</a></li>
        <li class="navPages-item"><a href="/privacy-policy/">Privacy Policy</a></li>
        <li class="navPages-item"><a href="/contact/">Contact</a></li>
      </ul>
    </div>

    <div class="footer-content">
      {{#if settings.show_newsletter_box}}
        <div class="footer-content-column mailing-list-wrapper">
          {{> components/common/mailing-list location="footer-module"}}
        </div>
      {{/if}}

      <!--<div class="footer-content-column">-->
        <!--{{! TODO: When custom blocks come in to play, allow a custom block to be shown here }}-->
        <!--{{#if settings.address}}-->
          <!--<address class="footer-contact-address">-->
            <!--{{nl2br settings.address}}-->
          <!--</address>-->
        <!--{{/if}}-->

        <!--{{#if settings.phone_number.length}}-->
          <!--<p class="footer-contact-phone">-->
            <!--{{settings.phone_number}}-->
          <!--</p>-->
        <!--{{/if}}-->
      <!--</div>-->
    </div>

    <!--<div class="footer-quick-links">-->

        <!--<ul class="footer-account-links">-->
          <!--{{#if customer}}-->
            <!--<li>-->
              <!--<a href="{{urls.account.index}}">-->
                <!--{{lang 'account_general.your_account'}}-->
              <!--</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="{{urls.auth.logout}}">-->
                <!--{{lang 'account_general.log_out'}}-->
              <!--</a>-->
            <!--</li>-->
          <!--{{else}}-->
            <!--<li>-->
              <!--<a href="{{urls.auth.login}}">-->
                <!--{{lang 'account_general.log_in'}}-->
              <!--</a>-->
            <!--</li>-->
            <!--{{#if settings.account_creation_enabled}}-->
              <!--<li>-->
                <!--<a href="{{urls.auth.create_account}}">-->
                  <!--{{lang 'account_general.sign_up'}}-->
                <!--</a>-->
              <!--</li>-->
            <!--{{/if}}-->
          <!--{{/if}}-->
        <!--</ul>-->


      <!--<ul class="footer-page-links">-->
        <!--{{! TODO: Any other static links? }}-->
        <!--{{#if settings.gift_certificates_enabled}}-->
          <!--<li>-->
            <!--<a href="{{urls.gift_certificate.purchase}}">-->
              <!--{{lang 'gift_certificate.heading'}}-->
            <!--</a>-->
          <!--</li>-->
        <!--{{/if}}-->
        <!--<li>-->
          <!--<a href="{{urls.sitemap}}">-->
            <!--{{lang 'sitemap.heading'}}-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->

      <!--<ul class="footer-payment-icons">-->
        <!--{{#if theme_settings.payment-visa}}-->
          <!--<li>-->
            <!--<span class="payment-icon">-->
              <!--<i class="icon-payment-visa"></i>-->
            <!--</span>-->
          <!--</li>-->
        <!--{{/if}}-->

        <!--{{#if theme_settings.payment-mastercard}}-->
          <!--<li>-->
            <!--<span class="payment-icon">-->
              <!--<i class="icon-payment-mastercard"></i>-->
            <!--</span>-->
          <!--</li>-->
        <!--{{/if}}-->

        <!--{{#if theme_settings.payment-american-express}}-->
          <!--<li>-->
            <!--<span class="payment-icon">-->
              <!--<i class="icon-payment-american-express"></i>-->
            <!--</span>-->
          <!--</li>-->
        <!--{{/if}}-->

        <!--{{#if theme_settings.payment-discover}}-->
          <!--<li>-->
            <!--<span class="payment-icon">-->
              <!--<i class="icon-payment-discover"></i>-->
            <!--</span>-->
          <!--</li>-->
        <!--{{/if}}-->

        <!--{{#if theme_settings.payment-paypal}}-->
          <!--<li>-->
            <!--<span class="payment-icon">-->
              <!--<i class="icon-payment-paypal"></i>-->
            <!--</span>-->
          <!--</li>-->
        <!--{{/if}}-->

        <!--{{#if theme_settings.payment-apple-pay}}-->
          <!--<li>-->
            <!--<span class="payment-icon">-->
              <!--<i class="icon-payment-apple-pay"></i>-->
            <!--</span>-->
          <!--</li>-->
        <!--{{/if}}-->
      <!--</ul>-->

      <!--{{#if theme_settings.geotrust-ssl-common-name}}-->
        <!--{{> core/geotrust-ssl-seal}}-->
      <!--{{/if}}-->
    <!--</div>-->
  </div>


  <div class="copyright-bottom">
    <div class="tel-infor">
      <p>Call &#8234; <a href="tel:201-477-0320" target="_blank" rel="noopener">(201) 477-0320</a> &#8234; to speak with us!</p>
    </div>
    <div class="content-copyright">
      <p>© 2019 Lily Health LLC </p>
      <p>
        This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. It should not be used
        if you are pregnant or nursing. Consult with a physician before use if you have a serious medical condition or use prescription medications. A Doctor's advice
        should be sought before using this and any supplemental dietary product. All trademarks and copyrights are property of their respective owners and are not
        affiliated with nor do they endorse this product. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure
        or prevent any disease. Individual weight loss results will vary. By using this site, you agree to follow the Privacy Policy and all Terms & Conditions printed
        on this site. Void Where Prohibited by Law.
      </p>
    </div>
  </div>
</footer>
