
<header class="main-header">
  <div class="shipping">
    <p>Free Shipping On All U.S. Orders</p>
    <span class="close-shipping"></span>
  </div>

  <div class="header-container-site">
    <div class="header-navigation-site">
      <button class="navigation-toggle-mobile-wrapper">
        <span class="navigation-toggle-mobile"></span>
      </button>
      <div class="logo-site">
        <a class="header-logo" href="{{urls.home}}">
          {{#if settings.store_logo.image.data}}
          <img class="header-logo-image visible" src="{{getImage settings.store_logo.image 'logo'}}" alt="{{settings.store_logo.image.alt}}">
          <img class="header-logo-image dark" src="{{ cdn 'img/lilylogo.png'}}" alt="">
          {{/if}}
        <span class="header-logo-text {{#unless settings.store_logo.image.data}}visible no-image{{/unless}}">
          {{settings.store_logo.title}}
        </span>
        </a>
      </div>

      <div class="navUser-mobile">
        {{> components/common/menu-mobile}}
      </div>


      <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
      </div>

      <!--<div class="navPages-container-mobile" id="menu-mobile" data-menu>-->
        <!--{{> components/common/navigation-menu-mobile}}-->
      <!--</div>-->
    </div>
  </div>
</header>
