<div class="navigation-wrap" data-slideout-wrapper>

  <div class="remove-mini-cart">
    <svg id="fw--icon--cross" viewBox="0 0 32 32">
      <path d="M30.083 31.647c-.385 0-.77-.147-1.063-.442l-28-28.128A1.501 1.501 0 0 1 3.146.96l28 28.128a1.5 1.5 0 0 1-1.063 2.559zm-28 0a1.499 1.499 0 0 1-1.064-2.558l28-28.129a1.501 1.501 0 0 1 2.127 2.116l-28 28.129a1.493 1.493 0 0 1-1.063.442z"></path>
    </svg>
  </div>

  <div class="modal-mask"></div>

  <div class="navigation-tier-mini" id="header-cart-pane-mini">
    {{> components/cart/quick-cart}}
  </div>


</div>
