<div class="block-why-take">
    <div class="content-why-take">
        <div class="heading-why-take">
            <h2>Why Take CBD?</h2>
        </div>
        <div class="featured-grid-body">
            <div class="item-why-take">
                <div class="content-img-item">
                    <img src="https://cdn11.bigcommerce.com/s-ejlrfdk3nh/product_images/uploaded_images/lily-sunwide-394x.png?t=1565777169&_ga=2.44688740.1383773377.1565575460-1720658180.1565426613">
                </div>
                <div class="content-text">
                    <h4>For Mind & Mood</h4>
                    <p>Anxiety, Concentration, Creativity, Productivity, Stress</p>
                </div>
            </div>

            <div class="item-why-take">
                <div class="content-img-item">
                    <img src="https://cdn11.bigcommerce.com/s-ejlrfdk3nh/product_images/uploaded_images/lily-heartwide-394x.png?t=1565777170&_ga=2.44688740.1383773377.1565575460-1720658180.1565426613">
                </div>
                <div class="content-text">
                    <h4>For Your Body</h4>
                    <p>Inflammation, Arthritis, Fibromyalgia, Indigestion, Gastrointestinal, Post-Workout</p>
                </div>
            </div>

            <div class="item-why-take">
                <div class="content-img-item">
                    <img src="https://cdn11.bigcommerce.com/s-ejlrfdk3nh/product_images/uploaded_images/lily-sleepwide-394x.png?t=1565777170&_ga=2.43589989.1383773377.1565575460-1720658180.1565426613">
                </div>
                <div class="content-text">
                    <h4>For Sleep</h4>
                    <p>Insomnia, Sleep Apnea</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-give-back">
     <div class="content-give-back">
        <h2 class="heading-give-back">5% Give Back</h2>
         <p>We are dedicated to helping give back however we can. That's why 5% of all sales goes to organizations focused
             on social injustice and charities helping children with Autism, Epilepsy and Mental Health Issues. </p>
     </div>
</div>