<!doctype html>
<!--[if IE 9 ]><html class="no-js ie9 lt-ie10" lang="{{ locale_name }}"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ locale_name }}"><!--<![endif]-->
<head>

  <title>{{head.title}}</title>

  {{{head.meta_tags}}}
  {{{head.config}}}

  <link href="{{head.favicon}}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="https://cdn.rawgit.com/mfd/7c7a915eb31474cc8c6a65066a4c4dc3/raw/f0f2fb94c21dea904812a53e0eb6cf0bc87f3754/GTWalsheimPro.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="//staticw2.yotpo.com/TuFRwPOIWE1fT8iF0CfhqxTAqCVXzbO8qCm2Vsec/widget.css?widget_version=2019-07-29_08-33-03">
  <!--<link href="//fonts.googleapis.com/css?family=Alegreya:400,700|Lato:400,700|Merriweather:400,700|" rel="stylesheet" type="text/css">-->
  {{{stylesheet '/assets/css/theme.css'}}}
  {{ getFontsCollection }}

  {{{head.scripts}}}
  {{{head.rsslinks}}}

  {{> components/common/global-injects}}

  {{{snippet 'html_head'}}}

  {{> core/structured-data/website}}
</head>

<body
        class="{{> components/common/body-class}}"
        data-layout="{{theme_settings.product-grid-layout}}"
        data-currency-code="{{currency_selector.active_currency_code}}"
>

{{> components/navigation-header}}

<div class="main-content-body">

  <div class="mark-menu"></div>
  <div class="close-show-menu">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64" version="1.1" height="64" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
      <g>
        <path fill="#1D1D1B" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
      </g>
    </svg>
  </div>

  <div class="navPages-container-mobile" id="menu-mobile" data-menu>
    {{> components/common/navigation-menu-mobile}}
  </div>

  <div class="icons-svg-sprite">{{> components/common/icons/icon-defs}}</div>

  {{#if page_type '===' 'product'}}
  {{> components/common/facebook-like}}
  {{else if page_type '===' 'blog_post'}}
  {{> components/common/facebook-like}}
  {{/if}}

  {{{snippet 'header'}}}

  {{> components/header}}

  <div class="show-popup">
    <div class="content-popup">
      <div class="content-img">
        <div class="item-img">
          <img src="{{cdn './img/Newsletter_Signup_2_1600x.jpg'}}">
        </div>
        <div class="item-img">
          <img src="{{cdn './img/Newsletter_Signup_3_1600x.jpg'}}">
        </div>
        <div class="item-img">
          <img src="{{cdn './img/Newsletter_Signup_4_1600x.jpg'}}">
        </div>
      </div>
      <div class="form-submit-popup">
        <h3 class="heading-popup">Get 10% off.</br> Sign up for our emails</h3>
        <h3 class="heading-popup-success">Thanks!</h3>
        {{> components/common/subscription-form}}
      </div>
      <div class="close-popup">
        <span></span>
      </div>
    </div>
  </div>
  <main class="main-content {{page.title}} {{product.title}} {{dashcase product.title}} {{dashcase page.title}} {{category.name}}">
    {{#if template_file "!==" "pages/home"}}
    {{> components/common/banners
    banners=banners.top
    metadata=banners.top_metadata
    type='top'
    }}
    {{/if}}



    {{#block "page"}}{{/block}}

    {{> components/common/banners
    banners=banners.bottom
    metadata=banners.bottom_metadata
    type='bottom'
    }}
  </main>


  {{> components/footer}}
  {{> components/footer-modals}}

  {{> core/structured-data/breadcrumbs}}
  {{> core/structured-data/website}}

  <script src="{{cdn '/assets/js/bundle.js'}}"></script>
  <script>
    // Exported in app.js
    window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
  </script>
  {{{footer.scripts}}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
  {{{snippet 'footer'}}}

  <button type="submit" class="button button-primary button-mobile" >
        <span class="button-text">
            Buy Now
        </span>
  </button>
</div>
</body>
<script>

  $(".search-overlay-close").click(function(){
    $('.search-overlay-input').val('');
    if($('.search-overlay-input').val() ==='' ) {
      $('.search-overlay-close').removeClass('show');
      $('.search--no-results').removeClass('show').fadeOut('slow');
    }
  });
  $(".product-preorder").click(function(){
    $(".product-pre").show();
  });

  $(".search-overlay-input").keyup(function(){
    if($('.search-overlay-input').val() !=''  && $('.search-overlay-input').val().length > 1 ) {
      $('.search-overlay-close').addClass('show');
      setTimeout(function(){
        $('.search--no-results').addClass('show').fadeIn('slow');
      }, 2000);


    }else{
      $('.search-overlay-close').removeClass('show');
      $('.search--no-results').removeClass('show').fadeOut('slow');
    }
  });

  //   $(document).ready(function(){
  //      var check = getCookie("fist_time");
  //      if (check != 1) {
  //          setCookie("fist_time", "1", 999);
  //      }

  //      function setCookie(cname, cvalue, exdays) {
  //          var d = new Date();
  //          d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  //          var expires = "expires="+d.toUTCString();
  //          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  //      }

  //      function getCookie(cname) {
  //          var name = cname + "=";
  //          var ca = document.cookie.split(';');
  //          for(var i = 0; i < ca.length; i++) {
  //              var c = ca[i];
  //              while (c.charAt(0) == ' ') {
  //                  c = c.substring(1);
  //              }
  //              if (c.indexOf(name) == 0) {
  //                  return c.substring(name.length, c.length);
  //              }
  //          }
  //          return "";
  //      }

  //      var fist_time = sessionStorage.getItem("fist_time");
  //      if(!fist_time){
  //          sessionStorage.setItem("fist_time", "1");
  //          $(".show-popup").addClass("show-banner-popup");
  //          $('body').addClass('active');
  //          $('.mark-menu').addClass('active');
  //      }

  //      $('.show-popup .close-popup').click(function(){
  //          $(".show-popup").removeClass("show-banner-popup");
  //          $('body').removeClass('active');
  //          $('.mark-menu').removeClass('active');
  //      });

  //   });
  $( "body" ).delegate( ".add-to-cart", "click", function() {
    setTimeout(function(){  var href = $('.cart-page').attr('href');
      window.location.href = href; }, 2000);

  });
</script>
  <script async type="text/javascript"
  src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=JeQucD"
          ></script>

</html>
