
<h1 class="font--heading text-align--center">Create Account</h1>
<div class="spacing--3y"></div>
{{#partial 'account-content'}}
  {{#if forms.create_account.error}}
    {{> core/alerts/alert-error forms.create_account.error}}
  {{/if}}

  <form class="account-create-form form" action="{{urls.auth.save_new_account}}" method="post" data-validated-form>
    <div class="account-change-create-form">
      {{#each forms.create_account.account_fields}}
        {{{dynamicComponent 'core/forms/common'}}}
      {{/each}}

      {{#each forms.create_account.address_fields}}
      {{{dynamicComponent 'core/forms/common'}}}
      {{/each}}

    </div>
    {{{forms.create_account.recaptcha.markup}}}

      <input class="button2 account--sign-in" type="submit" value="{{lang 'core.auth.create.submit'}}">
    <a class="button2 account--register account--login" href="{{urls.auth.login}}">
      {{lang 'core.auth.create.login'}}
    </a>
  </form>
{{/partial}}

{{> core/account/_private/layout class='login' nav='hidden' header='hidden'}}
