
<h1 class="font--heading text-align--center">{{lang 'core.auth.forgot.heading'}}</h1>
<p class="note-forgot spacing--3y">We will send you an email to reset your password.</p>
{{#partial 'account-content'}}

  {{#if forms.forgot_password.error}}
    {{> core/alerts/alert-error forms.forgot_password.error}}
  {{/if}}

  <form class="form account-forgot-custom-form" action="{{urls.auth.send_password_email}}" method="post" data-validated-form>
    {{> core/forms/common/email
    required=true
    label=(lang 'core.auth.forgot.email_address')
    id='email' name='email'}}
    <div class="account--bottom-row">
      <input class="button2 account--submit" type="submit" value="{{lang 'core.auth.forgot.submit'}}">
      <a class="button2 account--cancel" href="{{urls.auth.login}}">{{lang 'core.auth.forgot.cancel'}}</a>
    </div>
  </form>
{{/partial}}

{{> core/account/_private/layout class='forgot' nav='hidden' header='hidden'}}
