{{#partial 'account-content'}}
{{#if forms.login.error}}
{{> core/alerts/alert-error forms.login.error}}
{{/if}}

{{#if forms.login.success}}
{{> core/alerts/alert-success forms.login.success}}
{{/if}}

<div class="columns large-7">
    <h1 class="font--heading text-align--center">Login</h1>
    <div class="spacing--3y"></div>
    <form class="account-login-form form"
            action="{{urls.auth.check_login}}"
            method="post"
            data-validated-form>
        {{> core/forms/common/email
        required=true
        label=(lang 'core.auth.login.login_form.email_address_set')
        id='login_email' name='login_email'
        }}
        {{> core/forms/common/password
        required=true
        label=(lang 'core.auth.login.login_form.password')
        id='login_pass' name='login_pass'
        }}

        <div class="form-actions">
            <p class="account-forgot-password-body">
                <a class="account-forgot-password-link"
                   href="{{urls.auth.forgot_password}}">
                    {{lang 'core.auth.login.login_form.forgot_password'}}
                </a>
            </p>
            <div class="action_bottom account--bottom-row">
                <input type="submit"
                       class="button2 account--sign-in"
                       value="{{lang 'core.auth.login.login_form.submit'}}"
                >
                {{#if settings.account_creation_enabled}}
                <a class="button2 account--register"
                   href="{{urls.auth.create_account}}">
                    {{lang 'core.auth.login.create_form.create_account'}}
                </a>
                {{/if}}
            </div>
        </div>
    </form>

</div>
{{/partial}}

{{> core/account/_private/layout class='login' nav='hidden' header='hidden'}}
